<label class="radio">One
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
  </label>
  <label class="radio">Two
    <input type="radio" name="radio">
    <span class="checkmark"></span>
  </label>
  <label class="radio">Three
    <input type="radio" name="radio">
    <span class="checkmark"></span>
  </label>
  <label class="radio">Four
    <input type="radio" name="radio">
    <span class="checkmark"></span>
  </label>
  <hr />
  <label class="radio">Disabled
    <input type="radio" name="radio2" disabled checked>
    <span class="checkmark"></span>
  </label>
  <label class="radio">Disabled
    <input type="radio" name="radio2" disabled>
    <span class="checkmark"></span>
  </label>
