.dashboard-page {

	.card {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		padding: 0;
	}

	.card.-overview-top {
		z-index: 1;
		position: relative;
		padding: 35px;
		display: flex;
		justify-content: space-between;

		.overview-header-light {
			font-size: 28px;
			margin: 0;
			font-weight: 300;

			@media (max-width: 700px) {
				font-size: 21px;
			}
		}

		.clarus-icon.overview-progress-text {


			&.overview-not-started {
				color: #ababab;
				line-height: 1;
				text-transform: uppercase;
		
				&:before {
					content: url(../assets/images/status_none.svg);
				}
			}
	
			&.overview-complete {
				color: #55920c;
				line-height: 1;
				text-transform: uppercase;
				margin-top: 4px;
		
				&:before {
					content: url(../assets/images/status_complete.svg);
					padding-right: 24px;
					top: 12px;
					width: 20px;
					height: 20px;
					display: inline-block;
				}
			}

			@media (max-width: 700px) {
				font-size: 14px;
			}
		}

		.overview-progress-button {
			margin-top: 0px;

			.btn {
				position: relative;
			}

			@media (max-width: 630px) {
				width: 100%;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 20px;
			}
		}

		.btn.btn-primary {
			transition: background-color .3s, border-color .3s;
			width: 125px;

			&:hover {
				background-color: darken(#1571d4, 10%);
				border-color: darken(#1571d4, 10%);
			}

			&.locked {
				background-color: white;
				color: #1571d4;
				font-weight: bold;
				border: 1px solid #1571D4;

				&:before {
					content: "";
					width: 27px;
					height: 27px;
					background-color: #1571d4;
					border-radius: 50%;
					display: inline-block;
					position: absolute;
					top: -8px;
					left: -8px;
					background-image: url(../assets/images/locked.svg);
				}

				&:hover {
					background-color: #e2eefc;
				}
			}

			@media (max-width: 700px) {
				padding: 10px;
				width: auto;
				min-width: 85px;
			}
		}

		.overview-estimate {
			text-align: center;

			@media (max-width: 630px) {
				width: 40%;
				text-align: right;
			}
		}

		.estimate-total {
			color: #55920c;
			font-size: 30px;
			line-height: 1;
			letter-spacing: -1px;

			&:before {
				content: '$';
				font-size: 60%;
				top: -8px;
				position: relative;
				left: 7px;
			}

			sup {
				top: -.5em;
				font-size: 60%;
			}

			@media (max-width: 700px) {
				font-size: 24px;

				&:before {
					left: 4px;
				}
			}
		}

		.estimate-label {
			color: #092f57;
			font-size: 16px;

			
			@media (max-width: 700px) {
				font-size: 14px;
			}
		}

		.overview-title {
			@media (max-width: 630px) {
				width: 60%;
			}
		}

		@media (max-width: 630px) {
			flex-wrap: wrap;
			padding: 20px;
		}
	}

	.card.-overview-bottom {
		background-color: #f3f4f9;
		top: -8px;
		position: relative;
		color: inherit;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		padding-bottom: 12px;

		.carrot {
			color: #0d61b8;
			font-weight: 700;
			margin-left: 35px;
			margin-top: 15px;
			cursor: pointer;
			transition: color .3s;

			&:hover {
				color: darken(#0d61b8, 10%);
			}

			&:after {
				content: url(../assets/images/caret.svg);
				display: inline-block;
				margin-left: 1em;
				position: relative;
				top: -2px;
				transition: transform .5s;
			}

			&.is-open {

				& + .overview-details {
					max-height: 800px;
				}

				&:after {
					transform: rotate(180deg);
				}
			}
		}

		.overview-details {
			max-height: 0px;
			transition: max-height .5s ease;
			overflow: hidden;
		}

		table {
			width: 90%;
			margin: auto;

			tr {
				th {
					color: #092f57;
					font-size: 16px;
					font-weight: 300;
					text-align: center;

					&:first-child {
						width: 40%;
						max-width: 250px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

						@media (max-width: 700px) {
							max-width: 150px;
						}
					}

					@media (max-width: 700px) {
						font-size: 14px;
					}
				}

				td {
					text-align: center;
					width: 20%;
					padding-bottom: 10px;

					a {
						color: #1571d4;
						font-size: 18px;
						transition: color .3s;
						cursor: pointer;

						&:hover {
							color: darken(#1571d4, 10%);
						}

						@media (max-width: 700px) {
							font-size: 14px;
						}
					}

					hr {
						padding: 0;
						margin-top: 5px;
						width: 100%;
						margin-bottom: 0px;
					}

					&:first-child {
						text-align: left;
						width: 40%;
						max-width: 250px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

						@media (max-width: 700px) {
							max-width: 150px;
						}
					}
				}
			}

			&.projects {
				margin-top: 25px;
				margin-bottom: 25px;
			}

		}
	}


}