.resources-page {

	.chapter-header .title, .chapter-wrapper .chapter-nav > div {
		width: 100%;
	}

	.card.description {
		padding: 20px 50px;
		.section-header {

			img.toggle {
				width: 16px;
				height: 16px;
				margin-left: 16px;
				cursor: pointer;
				transition: opacity .3s, transform .3s;

				&:hover {
					opacity: .6;
				}
			}
		}

		.paragraphs-content {
			max-height: 500px;
			transition: max-height .5s;
			overflow: hidden;
		}

		&.is-closed {
			margin-bottom: 0px;
			border-bottom: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;

			.section-header {

				img.toggle {
					transform: rotate(180deg);
				}
			}

			.paragraphs-content {
				max-height: 0px;
			}

			& + hr {
				display: none;
			}

			& + hr + .card.resources {
				margin-top: 0px;
				border-top-right-radius: 0px;
				border-top-left-radius: 0px;
				box-shadow: 0px 5px 0.83333em rgba(0, 0, 0, 0.1);
				border-top: 0px;
			}
		}

		@media (max-width: 600px) {
			h1 {
				font-size: 22px;
			}
		}
	}

	.card.resources {
		padding: 50px 30px;

		.btn.add-new {
			border: 1px solid #1571D4;
			color: #1571D4;
			font-weight: bold;
			margin-top: 50px;
			transition: background-color .3s;
			background-color: white;
			position: relative;
			left: 50%;
			transform: translateX(-50%);

			&:hover {
				background-color: #e2eefc;
			}
		}
	}

	.headers {
		display: flex;
		margin-bottom: 25px;

		.header {
			width: 35%;
			margin: 0px;
			margin-right: 15px;

			&.compensation {
				width: 20%;
			}

			&:first-child {
				width: 3%;
				margin-right: 5px;
			}

			&:last-child {
				width: 10%;
				display: flex;
				align-items: center;
				margin-right: 0px;
			}
		}
	}

	.resource {
		margin-bottom: 15px;
		overflow: hidden;
		transition: max-height 1.25s, opacity 1s;
		max-height: 5000px;
		opacity: 1;
		

		.top {
			display: flex;
			min-width: 100%;
			position: relative;

			.item {
				width: 35%;
				margin: 0px;
				margin-right: 15px;

				img.toggle {
					transition: transform .5s, opacity .3s;
					cursor: pointer;

					&:hover {
						opacity: .6;
					}
				}

				&.compensation {
					width: 20%;

					input {
						text-align: right;
					}
				}

				&:first-child {
					width: 3%;
					display: flex;
					align-items: center;
					margin-right: 5px;

					img {
						height: 15px;
						width: 15px;
					}
				}
			}

			.action-items {
				width: 15%;
				display: flex;
				align-items: center;
				margin-right: 0px;

				img {
					margin-right: 10px;
					cursor: pointer;
					transition: opacity .3;

					&:hover {
						opacity: .8;
					}
				}

				.allocation {
					color: #55920c;
				}

				@media (max-width: 600px) {
					width: 15%;
					display: flex;
					align-items: center;
					margin-right: 0px;
					position: absolute;
					right: 20px;
					top: 46px;
				}



			}


		}

		.bottom {
			background-color: #f3f4f9;
			box-shadow: 0px 1px 1px 0px rgba(161,159,161,1);
			transition: max-height .2s;
			overflow: hidden;
			max-height: 0px;
			padding: 0px;

			.form-group {
				margin: 0px;
				margin-bottom: 25px;

				&.resource-description {
					margin-top: 25px;
					margin-right: 25px;
					margin-left: 25px;
					@media (max-width: 600px) {
						margin-top: 50px;
					}
				}

				textarea {
					min-height: 75px;
				}

				input.cost {
					text-align: right;
				}
			}

			.alert {
				border: 0px solid transparent;
				background-color: #e5e5e5;
				margin-top: 0px;
				margin-right: 25px;
				margin-left: 25px;
				max-height: 0px;
				padding: 0px;
				transition: max-height .5s, border .5s;
				overflow: hidden;
				display: flex;
				align-items: center;
				padding-left: 20px;
				padding-right: 20px;

				.icon {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
					font-size: 24px;
					font-weight: 600;
				}

				.message {
					font-size: 14px;
					padding: 14px;
				}

				&.warning .icon{
					background-color: #bfbf26;
				}

				&.success .icon {
					background-color: #55920c;
				}

				&.error .icon {
					background-color: red;
				}

				&.is-showing {
					max-height: 300px;
					border: 1px solid #adadad;
				}
			}

			.projects {
				margin-left: 8%;
				margin-right: 8%;
				margin-right: 25px;
				margin-left: 25px;
				margin-bottom: 25px;

				.headers {
					margin-bottom: 5px;

					.header:first-child {
						width: 65%;
						max-width: 65%;
						margin-right: 15%;
					}
				}
			}

			hr {
				width: 100%;
				margin: 0px;
			}

			.project {
				display: flex;
				align-items: center;

				.item {
					width: 25%;
					padding-right: 25px;
					margin-bottom: 0px;

					&:first-child {
						width: 65%;
					}

					&:last-child {
						padding-right: 0px;
						width: 10%;
					}

					.form-control {
						background-color: transparent;
					}
				}
			}
		}

		&.is-open {

			img.toggle {
				transform: rotate(180deg);
			}

			.bottom {
				max-height: 5000px;
				transition: max-height .8s;
			}
		}

		&.is-hidden {
			max-height: 0px;
			opacity: 0;
		}
	}





	.supplies-tab .resource .bottom .alert.is-showing {
		margin-top: 25px;
	}

	.card.resources.fifty {

		.headers .header, .bottom .headers .header:first-child {
			width: 62%;
		}

		.headers .header.compensation{
			width: 17%;
		}

		.headers .header:last-child {
			width: 0%;
		}

		.resource .top .item {
			width: 62%;
		}

		.resource .top .item:first-child, .headers .header:first-child {
			width: 3%;
		}

		.resource .top .item.compensation{
			width: 17%;
		}

		resource .top .action-items, .resource .top .item:last-child, .resources-page .headers .header.compensation {
			width: 15%!important;
		}
	}

	@media (max-width: 1199px) and (min-width: 992px) {
		.hidden-md, .hidden-sm {
			display: flex!important;
		}
	}

	@media (max-width: 991px) and (min-width: 768px){ 
		.hidden-sm {
			display: flex!important;
		}
	}

	@media (max-width: 767px) {
		.hidden-xs {
			display: flex!important;
		}
	}

	@media (max-width: 768px) {
		.chapter-wrapper .chapter {
			line-height: 1;
		}
	}
	@media (max-width: 600px) {
		.supplies-tab .resource .bottom .alert{
			margin-top: 25px;
		}

		.supplies-tab .resource .bottom .alert.is-showing {
			margin-top: 50px;
		}

		.resources-page .card.resources.fifty .resource .top .item.compensation {
			width: 27%;
		}

		.resources-page .card.resources.fifty .headers .header {
			width: 64%
		}
	}
}


