.chapter.summary {

	.card {
		padding-top: 50px;
		text-align: center;
		padding-left: 25px;
		padding-right: 25px;
	}

	h1.section-header {
		font-size: 36px;
		width: 335px;
		margin: auto;
		text-align: center;
		margin-bottom: 25px;
	}

	.estimate-total {
		color: #55920c;
		font-size: 46px;
		line-height: 1;
		letter-spacing: -1px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 50px;

		&:before {
			content: '$';
			font-size: 60%;
			top: -8px;
			position: relative;
			left: 7px;
		}

		sup {
			top: -.5em;
			font-size: 60%;
		}
	}

	.btn {
		margin: auto;
		margin-bottom: 25px;
		transition: background-color .3s, border .3s;
		cursor: pointer;
		transition: width .5s, background-color .5s;
		overflow: hidden;
		width: 200px;

		&:hover {
			background-color: darken(#1571d4, 10%);
			border-color: darken(#1571d4, 10%);
		}

		.confirmation {
			max-height: 0;
			overflow: hidden;
			transition: max-height .5s;


			img.confirm {
				width: 40px;
				height: 40px;
				margin-bottom: 15px;
				margin-top: 25px;
			}

			h2 {
				font-size: 28px;
				margin-top: 0px;
				color: black;
			}

			p {
				width: 80%;
				margin: auto;
				white-space: normal;
			}
		}

		form {
			max-height: 0px;
			overflow: hidden;
			margin: 0px;

			img.loading {
				animation: spin 1.5s linear infinite;
				position: absolute;
				width: 25px;
				height: 25px;
				z-index: 1;
				left: calc(50% - 12.5px);
				top: calc(60% - 12.5px);
				opacity: 0;
				transition: opacity 1s;
			}
		}

		&.is-open {

			width: 100%;
			max-width: 400px;
			border: transparent 1px solid;
			padding-left: 10px;
			padding-right: 10px;
			position: relative;
			background-color: #f2f3f7;
			color: black;

			form {
				max-height: 300px;
				transition: max-height .5s;
				overflow: hidden;
				margin: 0px;
				margin-top: 15px;

				textarea {
					border: 2px solid #092f57;
					border-radius: 5px;
					min-height: 150px;
					resize: none;
					font-weight: 300;
					margin-bottom: 20px;
				}

				.btn-primary {
					background-color: #1571d4;
					border-color: #1571d4;
					color: white;
					font-weight: 400;
					transition: background-color .3s, background-color .3s;
					cursor: pointer;

					&:hover {
						background-color: darken(#1571d4, 10%);
						border-color: darken(#1571d4, 10%);
					}
				}

				&.is-submitting {

					img.loading {
						opacity: 1;
						transition: opacity .5s .5s;
					}

					textarea, .btn-primary {
						max-height: 0;
						min-height: 0;
						padding: 0;
						border: none;
						transition: all .5s;
					}

					.confirmation {
						opacity: 0;
						max-height: 0;
						transition: opacity 1s, max-height 1s;
		
						img.confirm {
							width: 40px;
							height: 40px;
							margin-bottom: 15px;
						}
		
						h2 {
							font-size: 28px;
							margin-top: 0px;
							color: black;
						}
		
						p {
							width: 80%;
							margin: auto;
							white-space: normal;
							margin-bottom: 0;
						}
					}
				}

			}


			&.is-submitted {

				img.loading {
					opacity: 0!important;
					transition: opacity .3s!important;
				}

				.confirmation {
					max-height: 400px;
					opacity: 1;
				}

				form {
					transition: all 0s!important;
					max-height: 0px!important;
					overflow: hidden!important;
					margin: 0px!important;
				}
			}

			&:hover {
				background-color: #f2f3f7;
				cursor: inherit;
			}


		}
	}


	.card-removable {
		text-align: left;

		h1 {
			font-size: 26px;
			text-align: center;
			margin-bottom: 35px;
		}

		.calc-card {
			margin-bottom: 35px;
		}
	}
}