
<label class="checkbox">One
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  
  <label class="checkbox">Two
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  
  <label class="checkbox">Three
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  
  <label class="checkbox">Four
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>

  <label class="checkbox">Disabled
    <input type="checkbox" disabled>
    <span class="checkmark"></span>
  </label>
  <label class="checkbox">Disabled
    <input type="checkbox" disabled checked="checked">
    <span class="checkmark"></span>
  </label>
