include partials/head.pug

.app
	#root(data-company-id='699')
		div
			.questionnaire.container-fluid
				.questionnaire.container-fluid
					div
						main.container
							.questionnaire-navigation
								.card
									h4 Welcome Back
									p Let's Dig In
									b Next Step
									p Please complete the questionnaires and submit to us for review.
								.card.help.not-open
									img(src='https://app-staging.clarusrd.com/img/confused.svg')
									h4 Questions?
									p We're here to help!
									b.phone 614.706.3366
									a(href='mailto:mdiehl@clarusrd.com') mdiehl@clarusrd.com
									.btn
										| ask monika
										.confirmation
											img.confirm(src='/img/status-completed.svg')
											h2 Thanks!
											p We'll get back to you shortly
										form
											textarea.form-control(placeholder='How can I help?')
											button.btn.btn-primary submit
							.questionnaire-inner-wrapper
								.chapter
									.section-content
										.section-page
											.dashboard-page
												div
													div
														.card.-overview-top
															.overview-title
																h1.overview-header-light 2019 Study
																.clarus-icon.overview-progress-text.overview-completed COMPLETE
															a.overview-estimate(href='/company/699/year/2019/summary')
																.estimate-total 13,694.54
																.overview-label estimate
															.overview-progress-button
																a.btn.btn-primary.pull-right(href='/company/699/year/2019/summary', style='padding: 15px 12px;') submit for review
														.card.-overview-bottom
															.carrot.is-open
																a details
															.overview-details
																table.company
																	tbody
																		tr
																			th.pull-left name
																			th company
																			th revenue
																			th estimates
																			th
																		tr
																			td(colspan='5')
																				hr
																		tr
																			td
																				a(data-tour='compandy-info', href='/company/699/project/5079') 57Blocks
																			td
																				a(href='/company/699/project/5079?c=0')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																				a(href='/company/699/project/5079?c=1')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																				a(href='/company/699/project/5079?c=2')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																table.projects(js-hook="table-projects")
																	tbody
																		tr
																			th.pull-left project
																			th innovation
																			th qualification
																			th expenses
																			th
																		tr
																			td(colspan='5')
																				hr
																		tr(js-hook="project-row")
																			td
																				a(data-tour='compandy-info', href='/company/699/project/5080', js-hook="company-name") 57Blocks (Project)
																			td
																				a(href='/company/699/project/5080?c=0')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																				a(href='/company/699/project/5080?c=1')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																				a(href='/company/699/project/5080?c=2')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																				.more-menu
																					img.dots(src='/assets/images/dots.svg', js-hook="project-dots", data-id="22")
																					.annotation-container
																						.annotation(js-hook='annotation-messages')
																							img.close(src='/assets/images/close.svg', js-hook='annotations-close')
																							.action-items(js-hook="annotation-action-items")
																								.action
																									.link(js-hook="delete-project")
																										img(src="/assets/images/annotation_comment.svg")
																										|  Delete project
																								.action.resolve-action(js-hook="annotation-resolve-action")
																									.link(js-hook="rename-project")
																										img(src="/assets/images/annotation_resolve.svg")
																										|  Rename project
																							.confirmation.delete-confirmation Are you sure you want to delete the project "My Project"?
																								.choices
																									.choice.grey(js-hook="cancel-choice") cancel
																									.choice.blue(js-hook="delete-choice") delete
																							.rename-project(js-hook="rename-project-form")
																								input.message-write(type='text', placeholder="project name", js-hook="project-rename", maxlength="30")
																								.choices
																									.choice.grey(js-hook="cancelrename-choice") cancel
																									.choice.blue(js-hook="rename-choice") rename
																.add-project(js-hook="add-project-parent")
																	.add-project-button(js-hook="add-project-button")
																		img(src="/assets/images/add.svg")
																		span add project
																	.annotation-container
																		.annotation(js-hook='annotation-messages')
																			img.close(src='/assets/images/close.svg', js-hook='annotations-close')
																			.rename-project(js-hook="add-project-form")
																				input.message-write(type='text', placeholder="project name", js-hook="project-add-name", maxlength="30")
																				.choices
																					.choice.grey(js-hook="cancelrename-choice") cancel
																					.choice.blue(js-hook="create-choice") add
include partials/footer.pug