include partials/head.pug
// add .ertc class
.app.ertc
	#root(data-company-id='699')
		div
			.questionnaire.container-fluid
				.questionnaire.container-fluid
					div
						div
							main.container.undefined
								.questionnaire-navigation
									.card
										h4 2020 Q2 Study
										a.company(href='/company/699/project/5079') Terra Engineering
										.project-section(data-tour='resources-label')
											.project-clear.project-label expenses
											hr
											.pull-left.text-left
												a.project(href='/resource/699/year/2019/chapter/0') Payroll
										br
										a.btn(href='/dashboard/699') dashboard
									.card.help.not-open
										img(src='https://app-staging.clarusrd.com/img/confused.svg')
										h4 Questions?
										p We're here to help!
										b.phone 614.706.3366
										a(href='mailto:mdiehl@clarusrd.com') mdiehl@clarusrd.com
										.btn
											| ask monika
											.confirmation
												img.confirm(src='/img/status-completed.svg')
												h2 Thanks!
												p We'll get back to you shortly
											form
												textarea.form-control(placeholder='How can I help?')
												button.btn.btn-primary submit
								.questionnaire-inner-wrapper
									.chapter-nav
										.chapter-header
											.title
												h2 2020 Q2 Study
												h3 Terra Engineering
											a.card.-current-estimate(href='/company/699/year/2019/summary')
												.summary-estimate-title 2019 Current Estimate
												.summary-estimate-amount 13,694.54
												.overview-progress-button.btn.btn-primary.pull-right submit for review
										.chapter-wrapper
											.chapter-nav
												.hidden-xs.hidden-sm.hidden-md
													.chapter.selected company
													.chapter revenue
													.chapter estimates
												.hidden-lg.chapter-picker-select
													select
														option(value='0') company
														option(value='1') revenue
														option(value='2') estimates
										div
									.chapter
										.section-content
											.section-page
												.card
													h1.section-header Section 1: Company
													.row
														.col-md-6
															.form-group(style='margin-right: 20px;')
																label.field-label(for='question-input-204') 1.1: Company name
																input#question-input-204.form-control(placeholder='1.1: Company name', type='text')
															.annotation-enabled
														.col-md-6
															.form-group(style='margin-right: 20px;')
																label.field-label 1.2: In what state(s) do you operate?
																input.form-control.states.multi-select(placeholder='1.1: State(s)', type='text')
															.annotation-enabled
													.row
														.col-md-6
															.form-group(style='margin-right: 20px;')
																label.field-label(for='question-input-206') 1.3: Your name
																input#question-input-206.form-control.has-value(placeholder='1.3: Your name', type='text')
															.annotation-enabled
														.col-md-6
															.form-group(style='margin-right: 20px;')
																label.field-label(for='question-input-207') 1.4: Your title
																input#question-input-207.form-control.has-value(placeholder='1.4: Your title', type='text')
															.annotation-enabled
													.row
														.col-md-6
															.form-group(style='margin-right: 20px;')
																label.field-label(for='question-input-209') 1.5 Business Entity Type
																#question-input-209.css-1pcexqc-container
																	.css-1mirt27-control
																		.css-1hwfws3
																			.css-c37rmb-singleValue C Corp
																			.css-1g6gooi
																				div(style='display: inline-block;')
																					input#react-select-3-input(autocapitalize='none', autocomplete='off', autocorrect='off', spellcheck='false', tabindex='0', type='text', aria-autocomplete='list', value='', style='box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;')
																					div(style='position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;')
																		.css-1wy0on6
																			.css-16pqwjk-indicatorContainer(aria-hidden='true')
																				svg.css-19bqh2r(height='20', width='20', viewBox='0 0 20 20', aria-hidden='true', focusable='false')
																					path(d='M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z')
																			span.css-bgvzuu-indicatorSeparator
																			.css-16pqwjk-indicatorContainer(aria-hidden='true')
																				svg.css-19bqh2r(height='20', width='20', viewBox='0 0 20 20', aria-hidden='true', focusable='false')
																					path(d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z')
																	input(name='question-input-209', type='hidden')
															.annotation-enabled
														.col-md-6
															.form-group(style='margin-right: 20px;')
																label.field-label(for='question-input-210') 1.6 Federal Tax ID
																input#question-input-210.form-control.has-value(placeholder='1.6 Federal Tax ID', type='text', value='301049248')
															.annotation-enabled
													.row
														.col-md-6
															.form-group(style='margin-right: 20px;')
																label.field-label(for='question-input-232') 1.7 Quarter start date
																div
																	input#question-input-232(type='date', placeholder='Select...', min='0000-01-01', max='2025-12-31', value='2019-01-01')
															.annotation-enabled
														.col-md-6
															.form-group(style='margin-right: 20px;')
																label.field-label(for='question-input-211') 1.8 Quarter end date
																div
																	input#question-input-211(type='date', placeholder='Select...', min='0000-01-01', max='2025-12-31', value='2019-12-31')
															.annotation-enabled
												hr
												.card.page-navigation
													.row.hidden-md.hidden-sm.hidden-lg
														.col-xs-6
															button.btn.btn-primary.col-xs-12.hidden previous
														.col-xs-6
															button.btn.btn-primary.col-xs-12 next
														.col-xs-12.mt-25
															a.btn.btn-default.col-xs-12(href='/dashboard') go to dashboard
													.row.hidden-xs
														.col-md-4.col-sm-4.col-xs-4
															button.btn.btn-primary.pull-left.hidden previous
														.col-md-4.col-sm-4.col-xs-4.text-center
															a.btn.btn-default(href='/dashboard/699') go to dashboard
														.col-md-4.col-sm-4.col-xs-4
															button.btn.btn-primary.pull-right next

include partials/footer.pug