include partials/head.pug
// add .ertc class
.app.ertc
	#root(data-company-id='301')
		div
			.questionnaire.container-fluid
				.questionnaire.container-fluid
					div
						main.container
							.questionnaire-navigation
								.card
									h4 Welcome Back
									p Let's Dig In
									b Next Step
									p Please complete the questionnaires and submit to us for review.
								.card.help.not-open
									img(src='https://app-staging.clarusrd.com/img/confused.svg')
									h4 Questions?
									p We're here to help!
									b.phone 614.706.3366
									a(href='mailto:mdiehl@clarusrd.com') mdiehl@clarusrd.com
									.btn
										| ask monika
										.confirmation
											img.confirm(src='https://app-staging.clarusrd.com/img/status-completed.svg')
											h2 Thanks!
											p We'll get back to you shortly
										form
											textarea.form-control(placeholder='How can I help?')
											button.btn.btn-primary submit
							.questionnaire-inner-wrapper
								// add these tab
								.chapter-wrapper
									.chapter-nav.dashboard
										.hidden-xs.hidden-sm.hidden-md
											a.chapter(href="http://www.google.com") R & D Tax Credit
											a.chapter.selected(href="http://www.tesla.com") Employee Retention Tax Credit

								.chapter
									.section-content
										.section-page
											.dashboard-page
												div
													div
														.card.-overview-top
															.overview-title
																h1.overview-header-light 2019 Study
																.clarus-icon.overview-progress-text.overview-completed COMPLETE
															a.overview-estimate(href='/company/301/year/2019/summary')
																.estimate-total 96,460.48
																.overview-label estimate
															.overview-progress-button
																a.btn.btn-primary.pull-right(href='/company/301/year/2019/summary', style='padding: 15px 12px;') submit for review
														.card.-overview-bottom
															.carrot.is-open
																a details
															.overview-details
																table.company
																	tbody
																		tr
																			th.pull-left name
																			th company
																			th eligibility
																			th expenses
																		tr
																			td(colspan='5')
																				hr
																		tr
																			td
																				a(data-tour='compandy-info', href='/company/301/project/3696') 1Huddle
																			td
																				a(href='/company/301/project/3696?c=0')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																				a(href='/company/301/project/3696?c=1')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																				a(href='/company/301/project/3696?c=2')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
												div
													hr
													div
														.card.-overview-top
															.overview-title
																h1.overview-header-light 2018 Study
																.clarus-icon.overview-progress-text.overview-completed COMPLETE
															a.overview-estimate(href='/company/301/year/2018/summary')
																.estimate-total 74,520.00
																.overview-label estimate
															.overview-progress-button
																a.btn.btn-primary.pull-right.locked(href='/company/301/year/2018/summary', style='padding: 15px 12px;') view
														.card.-overview-bottom
															.carrot.not-open
																a details
															.overview-details
																table.company
																	tbody
																		tr
																			th.pull-left name
																			th company
																			th revenue
																			th estimates
																		tr
																			td(colspan='5')
																				hr
																		tr
																			td
																				a(data-tour='compandy-info', href='/company/301/project/2069') 1Huddle
																			td
																				a(href='/company/301/project/2069?c=0')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																				a(href='/company/301/project/2069?c=1')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																				a(href='/company/301/project/2069?c=2')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																table.projects
																	tbody
																		tr
																			th.pull-left project
																			th innovation
																			th qualification
																			th expenses
																		tr
																			td(colspan='5')
																				hr
																		tr
																			td
																				a(data-tour='compandy-info', href='/company/301/project/2070') 1Huddle (Project)
																			td
																				a(href='/company/301/project/2070?c=0')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																				a(href='/company/301/project/2070?c=1')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')
																			td
																				a(href='/company/301/project/2070?c=2')
																					img(src='https://app-staging.clarusrd.com/img/status-completed.svg')

include partials/footer.pug