include partials/head.pug
.app
	#root(data-project-id='3072', data-chapter='0')
		div
			.questionnaire.container-fluid
				.questionnaire.container-fluid
					div
						div
							main.container.undefined
								.questionnaire-navigation
									.card
										h4 2019 Study
										a.company(href='/company/95/project/3073') 101 Edu, Inc.
										.project-label projects
										hr
										.pull-left.text-left
											div
												a.project(href='/company/95/project/3072')
													| 101 Edu, Inc.
													.completion.complete COMPLETE
												br
										.project-section(data-tour='resources-label')
											.project-clear.project-label expenses
											hr
											.pull-left.text-left
												a.project(href='/resource/95/year/2019/chapter/0') Payroll
												br
												a.project(href='/resource/95/year/2019/chapter/1') Contracting
												br
												a.project(href='/resource/95/year/2019/chapter/2') Supplies
												br
										.project-clear.project-label documents
										hr
										a.project.pull-left.project-last(href='/company/95/year/2019/documents') Reports & Uploads
										a.btn(href='/dashboard/95') dashboard
									.card.help.not-open
										img(src='/img/confused.svg')
										h4 Questions?
										p We're here to help!
										b.phone 614.706.3366
										a(href='mailto:mdiehl@clarusrd.com') mdiehl@clarusrd.com
										.btn
											| ask monika
											.confirmation
												img.confirm(src='/img/status-completed.svg')
												h2 Thanks!
												p We'll get back to you shortly
											form
												img.loading(src='/img/status-none.svg')
												textarea.form-control(placeholder='How can I help?')
												button.btn.btn-primary submit
								.questionnaire-inner-wrapper
									.chapter-nav
										.chapter-header
											.title
												h2 2019 Study
												h3 101 Edu, Inc.
											a.card.-current-estimate(href='/company/95/year/2019/summary')
												.summary-estimate-title 2019 Current Estimate
												.summary-estimate-amount 66,615.49
										.chapter-wrapper
											.chapter-nav
												.hidden-xs.hidden-sm.hidden-md
													.chapter innovation
													.chapter qualification
													.chapter.selected expenses
												.hidden-lg.chapter-picker-select
													select
														option(value='0') innovation
														option(value='1') qualification
														option(value='2') expenses
									.chapter
										.section-content
											.section-page
												.section-resources


													.card.expert
														h1.section-header Expert
														p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
														.expert-details
															.expert-name
																label Name
																input(type='text', value='', placeholder='First and Last Name')
															.expert-title
																label Title
																input(type='text', value='', placeholder='Title')

														table.allocation
															thead
																tr
																	th
																		| project
																	th
																		| how allocation was determined
																	th
																		| action
															tbody
																tr
																	td
																		select
																			option(value='') 
																			option(value='volvo') Volvo
																			option(value='saab') Saab
																			option(value='mercedes') Mercedes
																			option(value='audi') Audi
																	td
																		textarea(name='name', cols='30', placeholder='You can write your text here...')
																	td
																		img(src='https://app-staging.clarusrd.com/img/trash.svg', style='cursor: pointer;')
																		img(src='https://app-staging.clarusrd.com/img/copy.svg', style='cursor: pointer;')
														img.add(src="/assets/images/add.svg")
														button.btn.btn-link add project

													.card
														div
															.row.resource-header
																h1.col-xs-6 Payroll
																.col-xs-6.total-allocation
																	a(href='/company/95/year/2019/summary', style='color: rgb(85, 146, 12); font-weight: 500;') $419,254.25
															.row.section-names
																.col-xs-3 Name
																.col-xs-4 Title/Role
																.col-xs-3(style='text-align: right;') Compensation
																.col-xs-2(style='text-align: center;') Allocation
															.row
																.col-xs-3
																	a(href='/resource/95/year/2019/chapter/0?expenseId=6d5da0c2-14e9-4893-a836-67205024ef04') Justin Weinberg
																.col-xs-4 Co-founder & CEO
																.col-xs-3.amount $110,000.02
																.col-xs-2.percentage
																	a.percentage(href='/resource/95/year/2019/chapter/0?expenseId=6d5da0c2-14e9-4893-a836-67205024ef04') 90%
															.row
																.col-xs-3
																	a(href='/resource/95/year/2019/chapter/0?expenseId=fbe1c15f-9043-43c8-a332-d53168575f74') Jacquelyn Kroeger
																.col-xs-4 Head of Operations
																.col-xs-3.amount $94,464.34
																.col-xs-2.percentage
																	a.percentage(href='/resource/95/year/2019/chapter/0?expenseId=fbe1c15f-9043-43c8-a332-d53168575f74') 25%
															.row
																.col-xs-3
																	a(href='/resource/95/year/2019/chapter/0?expenseId=9f02560c-f074-4ba2-b391-d277b1525a5b') Igor Belyayev
																.col-xs-4 Co-founder & CEO
																.col-xs-3.amount $108,730.77
																.col-xs-2.percentage
																	a.percentage(href='/resource/95/year/2019/chapter/0?expenseId=9f02560c-f074-4ba2-b391-d277b1525a5b') 90%
															.row
																.col-xs-3
																	a(href='/resource/95/year/2019/chapter/0?expenseId=c796dcd5-fbe5-40bd-8231-3161a7e0cf47') Thomas Redis
																.col-xs-4 Lead Engineer
																.col-xs-3.amount $111,115.32
																.col-xs-2.percentage
																	a.percentage(href='/resource/95/year/2019/chapter/0?expenseId=c796dcd5-fbe5-40bd-8231-3161a7e0cf47') 90%
															.row
																.col-xs-3
																	a(href='/resource/95/year/2019/chapter/0?expenseId=c13d9925-2e32-42b0-ac09-9ad76270f760') William Christerson
																.col-xs-4 Software Engineer
																.col-xs-3.amount $101,530.69
																.col-xs-2.percentage
																	a.percentage(href='/resource/95/year/2019/chapter/0?expenseId=c13d9925-2e32-42b0-ac09-9ad76270f760') 90%
															.row
																.col-xs-3
																	a(href='/resource/95/year/2019/chapter/0?expenseId=c46d7560-cc3a-4be9-b987-d894c8c3b74c') Amanda Kutney
																.col-xs-4 Lead Product Scientist
																.col-xs-3.amount $29,596.19
																.col-xs-2.percentage
																	a.percentage(href='/resource/95/year/2019/chapter/0?expenseId=c46d7560-cc3a-4be9-b987-d894c8c3b74c') 25%
														hr
														div
															.row.resource-header
																h1.col-xs-6 Contracting
																.col-xs-6.total-allocation
																	a(href='/company/95/year/2019/summary', style='color: rgb(85, 146, 12); font-weight: 500;') $195,347.07
															.row.section-names
																.col-xs-3 Name
																.col-xs-4
																.col-xs-3(style='text-align: right;') Amount
																.col-xs-2(style='text-align: center;') Allocation
															.row
																.col-xs-3
																	a(href='/resource/95/year/2019/chapter/1?expenseId=b0841b15-64d3-43e5-900a-206da73797d5') Compententum USA, Ltd
																.col-xs-4
																.col-xs-3.amount $137,052.30
																.col-xs-2.percentage
																	a.percentage(href='/resource/95/year/2019/chapter/1?expenseId=b0841b15-64d3-43e5-900a-206da73797d5') 90%
															.row
																.col-xs-3
																	a(href='/resource/95/year/2019/chapter/1?expenseId=85b97461-d1ad-4d5b-89bd-865f65edfb22') Christos Christoforides
																.col-xs-4
																.col-xs-3.amount $80,000.00
																.col-xs-2.percentage
																	a.percentage(href='/resource/95/year/2019/chapter/1?expenseId=85b97461-d1ad-4d5b-89bd-865f65edfb22') 90%
														hr
														div
															.row.resource-header
																h1.col-xs-6 Supplies
																.col-xs-6.total-allocation
																	a(href='/company/95/year/2019/summary', style='color: rgb(85, 146, 12); font-weight: 500;') $9,373.02
															.row.section-names
																.col-xs-3 Expense
																.col-xs-4
																.col-xs-3(style='text-align: right;') Amount
																.col-xs-2(style='text-align: center;') Allocation
															.row
																.col-xs-3
																	a(href='/resource/95/year/2019/chapter/2?expenseId=62753f62-993f-485f-8b3a-2f7b14b20265') Development environment
																.col-xs-4
																.col-xs-3.amount $18,746.04
																.col-xs-2.percentage
																	a.percentage(href='/resource/95/year/2019/chapter/2?expenseId=62753f62-993f-485f-8b3a-2f7b14b20265') 50%
												hr
												.card.page-navigation
													.row.hidden-md.hidden-sm.hidden-lg
														.col-xs-6
															button.btn.btn-primary.col-xs-12 previous
														.col-xs-6
															button.btn.btn-primary.col-xs-12.hidden next
														.col-xs-12.mt-25
															a.btn.btn-default.col-xs-12(href='/dashboard') go to dashboard
													.row.hidden-xs
														.col-md-4.col-sm-4.col-xs-4
															button.btn.btn-primary.pull-left previous
														.col-md-4.col-sm-4.col-xs-4.text-center
															a.btn.btn-default(href='/dashboard/95') go to dashboard
														.col-md-4.col-sm-4.col-xs-4
															button.btn.btn-primary.pull-right.hidden next

include partials/footer.pug