include partials/head.pug
.app
	#root(data-company-id='362')
		div
			.questionnaire.container-fluid
				.questionnaire.container-fluid
					div
						main.container
							.questionnaire-navigation
								.card
									h4 Welcome Back
									p Let's Dig In
									b Next Step
									p Please complete the questionnaires and submit to us for review.
								.card.help.not-open
									img(src='https://app-staging.clarusrd.com/img/confused.svg')
									h4 Questions?
									p We're here to help!
									b.phone 614.706.3366
									a(href='mailto:mdiehl@clarusrd.com') mdiehl@clarusrd.com
									.btn
										| ask monika
										.confirmation
											img.confirm(src='https://app-staging.clarusrd.com/img/status-completed.svg')
											h2 Thanks!
											p We'll get back to you shortly
										form
											img.loading(src='https://app-staging.clarusrd.com/img/status-none.svg')
											textarea.form-control(placeholder='How can I help?')
											button.btn.btn-primary submit
							.questionnaire-inner-wrapper
								.chapter
									.section-content
										.section-page
											.card
												h1 3rd Party Integrations
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
												h3 Payroll
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
												.integrations
													.integration.is-preferred
														.ribbon
															span Preferred
														.logo(style="background-image: url(/assets/images/gusto.png)")
														.title Gusto
														.description Gusto’s popular  payroll software works seamlessly with Clarus.
														.links
															a(href="") connect
															a(href="") enroll
													.integration
														.logo(style="background-image: url(/assets/images/adp.png)")
														.title ADP
														.description ADP’s popular payroll software works seamlessly with Clarus.
														.links
															a(class="is-disabled") coming soon
															a(href="") i want this
													.integration
														.logo(style="background-image: url(/assets/images/paychex.png)")
														.title Paychex
														.description Paychex’s popular payroll software works seamlessly with Clarus.
														.links
															a(class="is-disabled") coming soon
															a(href="") i want this
												hr
												h3 Time Tracking
												p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
												.integrations
													.integration
														.logo(style="background-image: url(/assets/images/tsheets.png)")
														.title T-Sheets
														.description The popular employee time tracker syncs directly with Clarus’ software.
														.links
															a(class="is-disabled") coming soon
															a(href="") i want this
													.integration
														.logo(style="background-image: url(/assets/images/timetracker.png)")
														.title TimeTracker
														.description Run a happier and more efficient payroll with eBillity's time and attendance tracking, approved entries sync with Clarus in just one click! Free mobile apps, free support, and a free 14-day trial.
														.links
															a(class="is-disabled") coming soon
															a(href="") i want this
													.integration
														.logo(style="background-image: url(/assets/images/boomr.png)")
														.title Boomr
														.description Over 50,000 companies use Boomr’s GPS-powered mobile app and web dashboard. Support for multiple pay rates, hourly & salary jobs, OT/DT alerts and multi-state offices.
														.links
															a(class="is-disabled") coming soon
															a(href="") i want this
include partials/footer.pug