include partials/head.pug
.app
	#root(data-company-id='362', data-chapter='0', data-year='2018')
		div
			.questionnaire.container-fluid
				.questionnaire.container-fluid
					div
						div
							main.container.resources-page
								.questionnaire-navigation
									.card
										h4 2018 Study
										a.company(href='/company/362/project/2871') BDS Analytics
										.project-label projects
										hr
										a.project(href='/company/362/project/2872')
											| BDS Analytics (Project)
											.completion.not-started 0% COMPLETE
										div(data-tour='resources-label')
											.project-label expenses
											hr
											a.project(href='/resource/362/year/2018/chapter/0') Payroll
											a.project(href='/resource/362/year/2018/chapter/1') Contracting
											a.project(href='/resource/362/year/2018/chapter/2') Supplies
										.project-label documents
										hr
										a.project(href='/company/362/year/2018/documents') Reports & Uploads
										a.btn(href='/dashboard/362') dashboard
									.card.help.not-open
										img(src='https://app-staging.clarusrd.com/img/confused.svg')
										h4 Questions?
										p We're here to help!
										b.phone 614.706.3366
										a(href='mailto:mdiehl@clarusrd.com') mdiehl@clarusrd.com
										.btn
											| ask monika
											.confirmation
												img.confirm(src='https://app-staging.clarusrd.com//img/status-completed.svg')
												h2 Thanks!
												p We'll get back to you shortly
											form
												img.loading(src='https://app-staging.clarusrd.com//img/status-none.svg')
												textarea.form-control(placeholder='How can I help?')
												button.btn.btn-primary submit
								.questionnaire-inner-wrapper
									.chapter-nav
										.chapter-header
											.title
												h2 2018 Expenses
										.chapter-wrapper
											.chapter-nav
												.hidden-xs.hidden-sm.hidden-md
													.chapter.selected payroll
													.chapter contracting
													.chapter supplies
												.hidden-lg.chapter-picker-select
													select
														option(value='0') payroll
														option(value='1') contracting
														option(value='2') supplies
									div
										.card.description
											h1.section-header
												| Payroll
												img.toggle-details(src='https://app-staging.clarusrd.com//img/caret.svg')
											div(style='height: auto; overflow: hidden; transition: height 0.25s ease 0s;')
												div(style='overflow: hidden;')
										hr(class="hide")
										





										.card.resources(style='margin-top: -5px;')
											.expense-form.float-right
												div(hidden='')
												.row(style='padding: 0px 20px;')
													.col-xs-3 Name
													.col-xs-1 Source
													.col-xs-3 Title/Role
													.col-xs-3 Compensation
													.col-xs-2 Action
												div(class="annotation-enabled")
													.annotation-container.is-unread
														.annotation-icon(js-hook="annotation-icon") 4
														// Please note: these are in reverse order with the newest first and the oldest last. This allows the browser to automatically scroll to the most recent message using 'flex-direction: column-reverse'
														.annotation(js-hook="annotation-messages")
															.messages
																.message
																	.message-head
																		.author Steve
																		.date 1/4/19
																	.message-body Okay - looking forward to it.
																.message
																	.message-head
																		.author Monika
																		.date 1/3/19
																	.message-body I'll give you a call about this later. I'll call you Monday night.
																.message
																	.message-head
																		.author Steve
																		.date 1/2/19
																	.message-body I'm not sure how to allocate him.
																.message
																	.message-head
																		.author Monika
																		.date 1/1/19
																	.message-body You've listed this person twice.
															.action-items(js-hook="annotation-action-items")
																.action
																	.link(js-hook="annotation-comment")
																		img(src="/assets/images/annotation_comment.svg")
																		|  leave a comment
																.action.resolve-action(js-hook="annotation-resolve-action")
																	.link(js-hook="annotation-resolve")
																		img(src="/assets/images/annotation_resolve.svg")
																		|  mark as resolved
																.action.unresolve-action(js-hook="annotation-unresolve-action")
																	img(src="/assets/images/annotation_mark.svg") 
																	span resolved
																	.link(js-hook="annotation-unresolve")
																		img(src="/assets/images/annotation_unmark.svg")
																		|  mark as unresolved
															.new-message(js-hook="annotation-new-message")
																.message
																	.message-head
																		.author You
																		// insert today's date here
																		.date 1/5/19
																	input.message-write(type='text', placeholder="your comment", js-hook="new-message-comment")
																	.new-message-actions
																		.internal-checkbox
																			label.checkbox internal only
																				input(type='checkbox')
																				span.checkmark
																		.new-message-action.cancel(js-hook="new-message-cancel") cancel
																		.new-message-action.blue(js-hook="new-message-post") post
															img.close(src="/assets/images/close.svg", js-hook="annotations-close")
												

													div(style='position: relative;')
														.resource(class="imported")
															div(name='8a353aa4-dc8a-4aec-87c7-ff5f77e78e87')
															img.toggle-details(src='https://app-staging.clarusrd.com/img/caret.svg')
															.top
																.row
																	.col-xs-3
																		.form-group
																			input#expense-8a353aa4-dc8a-4aec-87c7-ff5f77e78e87-name.form-control.has-value(placeholder='Employee name', type='text', value='Sam Smith', disabled)
																	.col-xs-1.center
																		img.integration-icon(src='/assets/images/integration.svg')
																	.col-xs-3
																		.form-group
																			input#expense-8a353aa4-dc8a-4aec-87c7-ff5f77e78e87-title.form-control.has-value(placeholder='Title/role', type='text', value='Jr Backend Developer')
																	.col-xs-3
																		.form-group
																			input#expense-8a353aa4-dc8a-4aec-87c7-ff5f77e78e87-amount.form-control.has-value(placeholder='e.g., $30,000', type='text', user='[object Object]', value='$65.309.00', style='background: transparent;', disabled)
																	.col-xs-2.action-items(style='cursor: pointer;')
																		img(src='https://app-staging.clarusrd.com/img/trash.svg', style='cursor: pointer;')
																		img(src='https://app-staging.clarusrd.com/img/copy.svg', style='cursor: pointer;')
																		.allocation(style='color: rgb(85, 146, 12);') 30%
															div(style='height: 0px; overflow: hidden; transition: height 0.25s ease 0s; display: none;')
																div(style='overflow: hidden;')
																	.bottom
																		.row
																			.col-xs-12
																				.form-group
																					textarea#expense-8a353aa4-dc8a-4aec-87c7-ff5f77e78e87-duties.form-control.has-value(placeholder='Some of the responsibilities include...', type='text')
																						| Implementation of Designs
																						| Re-design and adjusting of frameworks to meet needs
																						| Code Reviews
																						| Cleanup activities
																		.row
																			div(style='height: 0px; overflow: hidden; display: none; transition: height 0.25s ease 0s;')
																		.row
																			.col-xs-9 projects
																			.col-xs-3 allocation
																		hr
																		.row
																			.col-xs-6
																				.form-group
																					a(href='/company/6/project/2999/?c=2') ABC Company
																			.col-xs-3
																				.form-group
																					input#c1c77711-2d09-4930-b8f2-c441e075f72a-allocation_amount.form-control.has-value(placeholder='e.g., $2,500', type='text', user='[object Object]', value='$45,000.00', style='background: transparent;')
																			.col-xs-3
																				.form-group
																					input#c1c77711-2d09-4930-b8f2-c441e075f72a-allocation.form-control.has-value(placeholder='0%', type='text', value='30%', style='background: transparent;')
																		div
																			.row
																				div(style='height: 0px; overflow: hidden; display: none; transition: height 0.25s ease 0s;')
																			.row
																				.col-xs-9 state work performed in
																				.col-xs-3 allocation
																			hr
																			.row
																				.col-xs-6
																					.form-group
																						#cef98efd-2c72-4cec-849c-a3eea46c2ac5-state_value.css-1pcexqc-container
																							.css-1mirt27-control
																								.css-1hwfws3
																									.css-c37rmb-singleValue Ohio
																									.css-1g6gooi
																										div(style='display: inline-block;')
																											input#react-select-2-input(autocapitalize='none', autocomplete='off', autocorrect='off', spellcheck='false', tabindex='0', type='text', aria-autocomplete='list', value='', style='box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;')
																											div(style='position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;')
																								.css-1wy0on6
																									span.css-bgvzuu-indicatorSeparator
																									.css-16pqwjk-indicatorContainer(aria-hidden='true')
																										svg.css-19bqh2r(height='20', width='20', viewBox='0 0 20 20', aria-hidden='true', focusable='false')
																											path(d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z')
																							input(name='cef98efd-2c72-4cec-849c-a3eea46c2ac5-state_value', type='hidden', value='OH')
																				.col-xs-3
																				.col-xs-2
																					.form-group
																						input#cef98efd-2c72-4cec-849c-a3eea46c2ac5-allocation.form-control.has-value(placeholder='0%', type='text', value='100%', style='background: transparent;')
																				.col-xs-1(style='cursor: pointer;')
																					img.action-item(src='https://app-staging.clarusrd.com/img/trash.svg', style='cursor: pointer;')
																			.row
																				.col-xs-12
																					button.btn add work state
												div(class="annotation-enabled")
													.annotation-container.is-read
														.annotation-icon(js-hook="annotation-icon") 1






														// Please note: these are in reverse order with the newest first and the oldest last. This allows the browser to automatically scroll to the most recent message using 'flex-direction: column-reverse'
														.annotation(js-hook="annotation-messages")
															.messages
																.message
																	.message-head
																		.author Monika
																		.date 1/3/19
																	.message-body I'll give you a call about this later. I'll call you Monday night.
															.action-items(js-hook="annotation-action-items")
																.action
																	.link(js-hook="annotation-comment")
																		img(src="/assets/images/annotation_comment.svg")
																		|  leave a comment
																.action.resolve-action(js-hook="annotation-resolve-action")
																	.link(js-hook="annotation-resolve")
																		img(src="/assets/images/annotation_resolve.svg")
																		|  mark as resolved
																.action.unresolve-action(js-hook="annotation-unresolve-action")
																	img(src="/assets/images/annotation_mark.svg") 
																	span resolved
																	.link(js-hook="annotation-unresolve")
																		img(src="/assets/images/annotation_unmark.svg")
																		|  mark as unresolved
															.new-message(js-hook="annotation-new-message")
																.message
																	.message-head
																		.author You
																		// insert today's date here
																		.date 1/5/19
																	input.message-write(type='text', placeholder="your comment", js-hook="new-message-comment")
																	.new-message-actions
																		.internal-checkbox
																			label.checkbox internal only
																				input(type='checkbox')
																				span.checkmark
																		.new-message-action.cancel(js-hook="new-message-cancel") cancel
																		.new-message-action.blue(js-hook="new-message-post") post
															img.close(src="/assets/images/close.svg", js-hook="annotations-close")









													
													
													
													
													div(style='position: relative;')
														.resource
															div(name='73fe4144-84bf-47d3-baf2-a8584a2a0ece')
															img.toggle-details(src='https://app-staging.clarusrd.com/img/caret.svg')
															.top
																.row
																	.col-xs-3
																		.form-group
																			input#expense-73fe4144-84bf-47d3-baf2-a8584a2a0ece-name.form-control.has-value(placeholder='Employee name', type='text', value='Mike Black')
																	.col-xs-1.center
																	.col-xs-3
																		.form-group
																			input#expense-73fe4144-84bf-47d3-baf2-a8584a2a0ece-title.form-control.has-value(placeholder='Title/role', type='text', value='Programmer')
																	.col-xs-3
																		.form-group
																			input#expense-73fe4144-84bf-47d3-baf2-a8584a2a0ece-amount.form-control.has-value(placeholder='e.g., $30,000', type='text', user='[object Object]', value='$100,000.00', style='background: transparent;')
																	.col-xs-2.action-items(style='cursor: pointer;')
																		img(src='https://app-staging.clarusrd.com/img/trash.svg', style='cursor: pointer;')
																		img(src='https://app-staging.clarusrd.com/img/copy.svg', style='cursor: pointer;')
																		.allocation(style='color: rgb(85, 146, 12);') 100%
															div(style='height: 0px; overflow: hidden; transition: height 0.25s ease 0s; display: none;')
																div(style='overflow: hidden;')
																	.bottom
																		.row
																			.col-xs-12
																				.form-group
																					textarea#expense-73fe4144-84bf-47d3-baf2-a8584a2a0ece-duties.form-control.has-value(placeholder='Some of the responsibilities include...', type='text')
																						| QA strategy and design
																						| Automation design
																						| Test case creation and execution
																		.row
																			div(style='height: auto; overflow: hidden; transition: height 0.25s ease 0s;')
																				div(style='overflow: hidden;')
																					.alert
																						.col-xs-2.icon.success !
																						.col-xs-11.message
																							| This allocation is ≥80%, therefore substantially all time spent on qualifying activities and 100% of wages will be used for the credit calculation. Reg. 1.41-2(d)(2)
																		.row
																			.col-xs-9 projects
																			.col-xs-3 allocation
																		hr
																		.row
																			.col-xs-6
																				.form-group
																					a(href='/company/6/project/2999/?c=2') ABC Company
																			.col-xs-3
																				.form-group
																					input#ab2dadcc-e791-4123-9cc7-cfd49e5b7e4e-allocation_amount.form-control.has-value(placeholder='e.g., $2,500', type='text', user='[object Object]', value='$100,000.00', style='background: transparent;')
																			.col-xs-3
																				.form-group
																					input#ab2dadcc-e791-4123-9cc7-cfd49e5b7e4e-allocation.form-control.has-value(placeholder='0%', type='text', value='100%', style='background: transparent;')
																		div
																			.row
																				div(style='height: 0px; overflow: hidden; display: none; transition: height 0.25s ease 0s;')
																			.row
																				.col-xs-9 state work performed in
																				.col-xs-3 allocation
																			hr
																			.row
																				.col-xs-6
																					.form-group
																						#3f151068-cad2-4f6a-a7bb-b7f216cd65e8-state_value.css-1pcexqc-container
																							.css-1mirt27-control
																								.css-1hwfws3
																									.css-c37rmb-singleValue Ohio
																									.css-1g6gooi
																										div(style='display: inline-block;')
																											input#react-select-3-input(autocapitalize='none', autocomplete='off', autocorrect='off', spellcheck='false', tabindex='0', type='text', aria-autocomplete='list', value='', style='box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;')
																											div(style='position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;')
																								.css-1wy0on6
																									span.css-bgvzuu-indicatorSeparator
																									.css-16pqwjk-indicatorContainer(aria-hidden='true')
																										svg.css-19bqh2r(height='20', width='20', viewBox='0 0 20 20', aria-hidden='true', focusable='false')
																											path(d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z')
																							input(name='3f151068-cad2-4f6a-a7bb-b7f216cd65e8-state_value', type='hidden', value='OH')
																				.col-xs-3
																				.col-xs-2
																					.form-group
																						input#3f151068-cad2-4f6a-a7bb-b7f216cd65e8-allocation.form-control.has-value(placeholder='0%', type='text', value='100%', style='background: transparent;')
																				.col-xs-1(style='cursor: pointer;')
																					img.action-item(src='https://app-staging.clarusrd.com/img/trash.svg', style='cursor: pointer;')
																			.row
																				.col-xs-12
																					button.btn add work state
												div(class="annotation-enabled")
													.annotation-container
														.annotation-icon(js-hook="annotation-icon")


														// Please note: these are in reverse order with the newest first and the oldest last. This allows the browser to automatically scroll to the most recent message using 'flex-direction: column-reverse'
														.annotation(js-hook="annotation-messages")
															.messages
															.action-items(js-hook="annotation-action-items")
																.action
																	.link(js-hook="annotation-comment")
																		img(src="/assets/images/annotation_comment.svg")
																		|  leave a comment
																.action.resolve-action(js-hook="annotation-resolve-action")
																	.link(js-hook="annotation-resolve")
																		img(src="/assets/images/annotation_resolve.svg")
																		|  mark as resolved
																.action.unresolve-action(js-hook="annotation-unresolve-action")
																	img(src="/assets/images/annotation_mark.svg") 
																	span resolved
																	.link(js-hook="annotation-unresolve")
																		img(src="/assets/images/annotation_unmark.svg")
																		|  mark as unresolved
															.new-message(js-hook="annotation-new-message")
																.message
																	.message-head
																		.author You
																		// insert today's date here
																		.date 1/5/19
																	input.message-write(type='text', placeholder="your comment", js-hook="new-message-comment")
																	.new-message-actions
																		.internal-checkbox
																			label.checkbox internal only
																				input(type='checkbox')
																				span.checkmark
																		.new-message-action.cancel(js-hook="new-message-cancel") cancel
																		.new-message-action.blue(js-hook="new-message-post") post
															img.close(src="/assets/images/close.svg", js-hook="annotations-close")
												








													div(style='position: relative;')
														.resource
															div(name='ea45eee3-acee-4d7b-a4e5-1f2bfc44fbe7')
															img.toggle-details(src='https://app-staging.clarusrd.com/img/caret.svg')
															.top
																.row
																	.col-xs-3
																		.form-group
																			input#expense-8a353aa4-dc8a-4aec-87c7-ff5f77e78e87-name.form-control.has-value(placeholder='Employee name', type='text', value='Sam Smith', disabled)
																	.col-xs-1.center
																		img.integration-icon(src='/assets/images/integration.svg')
																	.col-xs-3
																		.form-group
																			input#expense-8a353aa4-dc8a-4aec-87c7-ff5f77e78e87-title.form-control.has-value(placeholder='Title/role', type='text', value='Jr Backend Developer')
																	.col-xs-3
																		.form-group
																			input#expense-8a353aa4-dc8a-4aec-87c7-ff5f77e78e87-amount.form-control.has-value(placeholder='e.g., $30,000', type='text', user='[object Object]', value='$65.309.00', style='background: transparent;', disabled)
																	.col-xs-2.action-items(style='cursor: pointer;')
																		img(src='https://app-staging.clarusrd.com/img/trash.svg', style='cursor: pointer;')
																		img(src='https://app-staging.clarusrd.com/img/copy.svg', style='cursor: pointer;')
																		.allocation(style='color: rgb(85, 146, 12);') 30%
															div(style='height: 0px; overflow: hidden; transition: height 0.25s ease 0s; display: none;')
																div(style='overflow: hidden;')
																	.bottom
																		.row
																			.col-xs-12
																				.form-group
																					textarea#expense-ea45eee3-acee-4d7b-a4e5-1f2bfc44fbe7-duties.form-control.has-value(placeholder='Some of the responsibilities include...', type='text')
																						| Implementation of Designs
																						| Re-design and adjusting of frameworks to meet needs
																						| Code Reviews
																						| Cleanup activities
																		.row
																			div(style='height: 0px; overflow: hidden; display: none; transition: height 0.25s ease 0s;')
																		.row
																			.col-xs-9 projects
																			.col-xs-3 allocation
																		hr
																		.row
																			.col-xs-6
																				.form-group
																					a(href='/company/6/project/2999/?c=2') ABC Company
																			.col-xs-3
																				.form-group
																					input#5deafb48-fd99-4c3f-b2a8-ad4a7e2f3ed6-allocation_amount.form-control.has-value(placeholder='e.g., $2,500', type='text', user='[object Object]', value='$43,750.00', style='background: transparent;')
																			.col-xs-3
																				.form-group
																					input#5deafb48-fd99-4c3f-b2a8-ad4a7e2f3ed6-allocation.form-control.has-value(placeholder='0%', type='text', value='50%', style='background: transparent;')
																		div
																			.row
																				div(style='height: 0px; overflow: hidden; display: none; transition: height 0.25s ease 0s;')
																			.row
																				.col-xs-9 state work performed in
																				.col-xs-3 allocation
																			hr
																			.row
																				.col-xs-6
																					.form-group
																						#cf301e6b-e361-4280-8593-249b1d1f51b8-state_value.css-1pcexqc-container
																							.css-1mirt27-control
																								.css-1hwfws3
																									.css-c37rmb-singleValue Ohio
																									.css-1g6gooi
																										div(style='display: inline-block;')
																											input#react-select-4-input(autocapitalize='none', autocomplete='off', autocorrect='off', spellcheck='false', tabindex='0', type='text', aria-autocomplete='list', value='', style='box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;')
																											div(style='position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;')
																								.css-1wy0on6
																									span.css-bgvzuu-indicatorSeparator
																									.css-16pqwjk-indicatorContainer(aria-hidden='true')
																										svg.css-19bqh2r(height='20', width='20', viewBox='0 0 20 20', aria-hidden='true', focusable='false')
																											path(d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z')
																							input(name='cf301e6b-e361-4280-8593-249b1d1f51b8-state_value', type='hidden', value='OH')
																				.col-xs-3
																				.col-xs-2
																					.form-group
																						input#cf301e6b-e361-4280-8593-249b1d1f51b8-allocation.form-control.has-value(placeholder='0%', type='text', value='100%', style='background: transparent;')
																				.col-xs-1(style='cursor: pointer;')
																					img.action-item(src='https://app-staging.clarusrd.com/img/trash.svg', style='cursor: pointer;')
																			.row
																				.col-xs-12
																					button.btn add work state
												div(class="annotation-enabled")
													.annotation-container.is-resolved
														.annotation-icon(js-hook="annotation-icon") 2
														// Please note: these are in reverse order with the newest first and the oldest last. This allows the browser to automatically scroll to the most recent message using 'flex-direction: column-reverse'
														.annotation(js-hook="annotation-messages")
															.messages
																.message
																	.message-head
																		.author Steve
																		.date 1/3/19
																	.message-body It's acurate.
																.message
																	.message-head
																		.author Monika
																		.date 1/3/19
																	.message-body Please check this is accurate.

															.action-items(js-hook="annotation-action-items")
																.action
																	.link(js-hook="annotation-comment")
																		img(src="/assets/images/annotation_comment.svg")
																		|  leave a comment
																.action.resolve-action(js-hook="annotation-resolve-action")
																	.link(js-hook="annotation-resolve")
																		img(src="/assets/images/annotation_resolve.svg")
																		|  mark as resolved
																.action.unresolve-action(js-hook="annotation-unresolve-action")
																	img(src="/assets/images/annotation_mark.svg") 
																	span resolved
																	.link(js-hook="annotation-unresolve")
																		img(src="/assets/images/annotation_unmark.svg")
																		|  mark as unresolved
															.new-message(js-hook="annotation-new-message")
																.message
																	.message-head
																		.author You
																		// insert today's date here
																		.date 1/5/19
																	input.message-write(type='text', placeholder="your comment", js-hook="new-message-comment")
																	.new-message-actions
																		.internal-checkbox
																			label.checkbox internal only
																				input(type='checkbox')
																				span.checkmark
																		.new-message-action.cancel(js-hook="new-message-cancel") cancel
																		.new-message-action.blue(js-hook="new-message-post") post
															img.close(src="/assets/images/close.svg", js-hook="annotations-close")
													div(style='position: relative;')
														.resource
															div(name='ea45eee3-acee-4d7b-a4e5-1f2bfc44fbe7')
															img.toggle-details(src='https://app-staging.clarusrd.com/img/caret.svg')
															.top
																.row
																	.col-xs-4
																		.form-group
																			input#expense-ea45eee3-acee-4d7b-a4e5-1f2bfc44fbe7-name.form-control.has-value(placeholder='Employee name', type='text', value='Jenny Roberts')
																	.col-xs-3
																		.form-group
																			input#expense-ea45eee3-acee-4d7b-a4e5-1f2bfc44fbe7-title.form-control.has-value(placeholder='Title/role', type='text', value='Software Architect')
																	.col-xs-3
																		.form-group
																			input#expense-ea45eee3-acee-4d7b-a4e5-1f2bfc44fbe7-amount.form-control.has-value(placeholder='e.g., $30,000', type='text', user='[object Object]', value='$87,500.00', style='background: transparent;')
																	.col-xs-2.action-items(style='cursor: pointer;')
																		img(src='https://app-staging.clarusrd.com/img/trash.svg', style='cursor: pointer;')
																		img(src='https://app-staging.clarusrd.com/img/copy.svg', style='cursor: pointer;')
																		.allocation(style='color: rgb(85, 146, 12);') 50%
															div(style='height: 0px; overflow: hidden; transition: height 0.25s ease 0s; display: none;')
																div(style='overflow: hidden;')
																	.bottom
																		.row
																			.col-xs-12
																				.form-group
																					textarea#expense-ea45eee3-acee-4d7b-a4e5-1f2bfc44fbe7-duties.form-control.has-value(placeholder='Some of the responsibilities include...', type='text')
																						| Implementation of Designs
																						| Re-design and adjusting of frameworks to meet needs
																						| Code Reviews
																						| Cleanup activities
																		.row
																			div(style='height: 0px; overflow: hidden; display: none; transition: height 0.25s ease 0s;')
																		.row
																			.col-xs-9 projects
																			.col-xs-3 allocation
																		hr
																		.row
																			.col-xs-6
																				.form-group
																					a(href='/company/6/project/2999/?c=2') ABC Company
																			.col-xs-3
																				.form-group
																					input#5deafb48-fd99-4c3f-b2a8-ad4a7e2f3ed6-allocation_amount.form-control.has-value(placeholder='e.g., $2,500', type='text', user='[object Object]', value='$43,750.00', style='background: transparent;')
																			.col-xs-3
																				.form-group
																					input#5deafb48-fd99-4c3f-b2a8-ad4a7e2f3ed6-allocation.form-control.has-value(placeholder='0%', type='text', value='50%', style='background: transparent;')
																		div
																			.row
																				div(style='height: 0px; overflow: hidden; display: none; transition: height 0.25s ease 0s;')
																			.row
																				.col-xs-9 state work performed in
																				.col-xs-3 allocation
																			hr
																			.row
																				.col-xs-6
																					.form-group
																						#cf301e6b-e361-4280-8593-249b1d1f51b8-state_value.css-1pcexqc-container
																							.css-1mirt27-control
																								.css-1hwfws3
																									.css-c37rmb-singleValue Ohio
																									.css-1g6gooi
																										div(style='display: inline-block;')
																											input#react-select-4-input(autocapitalize='none', autocomplete='off', autocorrect='off', spellcheck='false', tabindex='0', type='text', aria-autocomplete='list', value='', style='box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;')
																											div(style='position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;')
																								.css-1wy0on6
																									span.css-bgvzuu-indicatorSeparator
																									.css-16pqwjk-indicatorContainer(aria-hidden='true')
																										svg.css-19bqh2r(height='20', width='20', viewBox='0 0 20 20', aria-hidden='true', focusable='false')
																											path(d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z')
																							input(name='cf301e6b-e361-4280-8593-249b1d1f51b8-state_value', type='hidden', value='OH')
																				.col-xs-3
																				.col-xs-2
																					.form-group
																						input#cf301e6b-e361-4280-8593-249b1d1f51b8-allocation.form-control.has-value(placeholder='0%', type='text', value='100%', style='background: transparent;')
																				.col-xs-1(style='cursor: pointer;')
																					img.action-item(src='https://app-staging.clarusrd.com/img/trash.svg', style='cursor: pointer;')
																			.row
																				.col-xs-12
																					button.btn add work state



										.import-panel
											.import-title Payroll Integrations
												img(src='/assets/images/integration.svg')
											table
												thead
													tr
														th integration
														th description
														th(style="white-space: nowrap") last import
														th
														th
												tbody
													tr
														td Gusto
														td Brief Description of integration here
														td 1/21/20
														td
															button.btn.btn-half.btn-ghost import now
														td
															a(href="")
																img(src="/assets/images/settings.svg")
												








										.card.resources(style='margin-top: -5px;')
											.expense-form.float-right
												.row
													.col-xs-12
														button.btn.add-new(style='margin-top: 0px;') add new employee
											hr
											h3 Payroll Integrations
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
											.import-list
												p Integrations accepted: Gusto Payroll Service
											button.btn add integration


include partials/footer.pug
