include partials/head.pug
.app
	#root(data-company-id='699', data-chapter='0', data-year='2019')
		div
			//add this js-hook and class for the javascript
			.questionnaire.container-fluid.background(js-hook="page-background")
				.questionnaire.container-fluid
					| return 
					div
						div
							main.container.resources-page
								.questionnaire-navigation
									.card
										h4 2019 Study
										a.company(href='/company/699/project/5079') 57Blocks
										.project-label projects
										hr
										.pull-left.text-left
											div
												a.project(href='/company/699/project/5080')
													| 57Blocks (Project)
													.completion.complete COMPLETE
												br
										.project-section(data-tour='resources-label')
											.project-clear.project-label expenses
											hr
											.pull-left.text-left
												a.project(href='/resource/699/year/2019/chapter/0') Payroll
												br
												a.project(href='/resource/699/year/2019/chapter/1') Contracting
												br
												a.project(href='/resource/699/year/2019/chapter/2') Supplies
												br
										.project-clear.project-label documents
										hr
										a.project.pull-left.project-last(href='/company/699/year/2019/documents') Reports & Uploads
										a.btn(href='/dashboard/699') dashboard
									.card.help.not-open
										img(src='/img/confused.svg')
										h4 Questions?
										p We're here to help!
										b.phone 614.706.3366
										a(href='mailto:mdiehl@clarusrd.com') mdiehl@clarusrd.com
										.btn
											| ask monika
											.confirmation
												img.confirm(src='/img/status-completed.svg')
												h2 Thanks!
												p We'll get back to you shortly
											form
												textarea.form-control(placeholder='How can I help?')
												button.btn.btn-primary submit
								.questionnaire-inner-wrapper
									.chapter-nav
										.chapter-header
											.title
												h2 2019 Study
												h3 2019 Expenses
													.download
														img.excel(js-hook="import-export", src="/assets/images/excel.svg")
														.bubbletip Click here to download an editable Excel spreadsheet of your expenses
											a.card.-current-estimate(href='/company/699/year/2019/summary')
												.summary-estimate-title 2019 Current Estimate
												.summary-estimate-amount 13,694.54
												.overview-progress-button.btn.btn-primary.pull-right submit for review
										.import-instructions
											h3 Export / Import Expenses
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper tempor quam. Curabitur a viverra sapien, porttitor elementum tellus. Etiam molestie leo et lorem pharetra viverra.
											.steps
												.step
													img.step-arrow(src="/assets/images/arrow.svg")
													.step-title Step 1
													.step-instructions Nulla convallis risus eget ligula tristique tincidunt.
													.step-button export expenses
												.step
													img.step-arrow(src="/assets/images/arrow.svg")
													.step-title Step 2
													.step-instructions Integer consequat, magna eget tincidunt dapibus, purus velit accumsan urna, ut vestibulum sapien urna non mauris.
												.step
													.step-title Step 3
													.step-instructions Nulla auctor mattis orci, vitae pellentesque libero.
													.step-button select file
										.chapter-wrapper
											.chapter-nav
												.hidden-xs.hidden-sm.hidden-md
													.chapter.selected payroll
													.chapter contracting
													.chapter supplies
												.hidden-lg.chapter-picker-select
													select
														option(value='0') payroll
														option(value='1') contracting
														option(value='2') supplies
										.chapter-wrapper
											.chapter-subtotal
												.hidden-xs.hidden-sm.hidden-md
													.subtotal $0.00
													.subtotal $119,677.35
													.subtotal $17,268.00
									div
										.card.description
											h1.section-header
												| Payroll
												img.toggle-details(src='https://app-staging.clarusrd.com/img/caret.svg')
											div(style='height: 0px; overflow: hidden; display: none; transition: height 0.25s ease 0s;')
										hr.hide
										.card.resources(style='margin-top: -5px;')
											.expense-form.float-right
												div(hidden='')
												.row(style='padding: 0px 20px;')
													.col-xs-3 Name
													.col-xs-1 Source
													.col-xs-3 Title/Role
													.col-xs-3 Compensation
												div(hidden='')
												.row
													.col-xs-12
														button.btn.add-new add new employee
											div
												hr
												h3 Payroll Integrations
												p Connect your payroll account to streamline data entry and ensure accuracy.
												button.Styles__AddIntegrationButton-sc-1f26iw4-0.kayYfy.btn add integration
										div



include partials/footer.pug
