include partials/head.pug
.app
	#root(data-company-id='217' data-chapter='0' data-year='2019')
		div
			.questionnaire.container-fluid
				.questionnaire.container-fluid
					| return 
					div
						div
							main.container.resources-page
								.questionnaire-navigation
									.card
										h4 2019 Study
										a.company(href='/company/217/project/3467') ABC Demo Inc
										.project-label projects
										hr
										.pull-left.text-left
											div
												a.project(href='/company/217/project/3468')
													| ABC Demo Inc (Project)
													.completion.complete COMPLETE
												br
										.project-section(data-tour='resources-label')
											.project-clear.project-label expenses
											hr
											.pull-left.text-left
												a.project(href='/resource/217/year/2019/chapter/0') Payroll
												br
												a.project(href='/resource/217/year/2019/chapter/1') Contracting
												br
												a.project(href='/resource/217/year/2019/chapter/2') Supplies
												br
										.project-clear.project-label documents
										hr
										a.project.pull-left.project-last(href='/company/217/year/2019/documents') Reports & Uploads
										a.btn(href='/dashboard/217') dashboard
									.card.help.not-open
										img(src='https://app-staging.clarusrd.com/img/confused.svg')
										h4 Questions?
										p We're here to help!
										b.phone 614.706.3366
										a(href='mailto:mdiehl@clarusrd.com') mdiehl@clarusrd.com
										.btn
											| ask monika
											.confirmation
												img.confirm(src='https://app-staging.clarusrd.com/img/status-completed.svg')
												h2 Thanks!
												p We'll get back to you shortly
											form
												textarea.form-control(placeholder='How can I help?')
												button.btn.btn-primary submit
								.questionnaire-inner-wrapper
									.chapter-nav
										.chapter-header
											.title
												h2 2019 Study
												h3 2019 Expenses
											a.card.-current-estimate(href='/company/217/year/2019/summary')
												.summary-estimate-title 2019 Current Estimate
												.summary-estimate-amount 58,305.00
												.overview-progress-button.btn.btn-primary.pull-right submit for review
										.chapter-wrapper
											.chapter-nav
												.hidden-xs.hidden-sm.hidden-md
													.chapter.selected payroll
													.chapter contracting
													.chapter supplies
												.hidden-lg.chapter-picker-select
													select
														option(value='0') payroll
														option(value='1') contracting
														option(value='2') supplies
										.chapter-wrapper
											.chapter-subtotal
												.hidden-xs.hidden-sm.hidden-md
													.subtotal $538,750.00
													.subtotal $40,300.00
													.subtotal $4,000.00
									div
										.card.description
											h1.section-header
												| Payroll
												img.toggle-details(src='https://app-staging.clarusrd.com/img/caret.svg')
											div
										hr.hide
										.card.resources
											.expense-form.float-right
												div(hidden='')
												.row
													img.show-all.is-showing(js-hook="show-all", src="/assets/images/show.svg")
													img.hide-all(js-hook="hide-all", src="/assets/images/hide.svg")
													.col-xs-3 Name
													.col-xs-1 Source
													.col-xs-3 Title/Role
													.col-xs-3 Compensation
												.annotation-enabled
													div
														.resource(js-hook="resource")
															div(name='2e59d35d-64fe-4a14-8068-37dde807a9e9')
															img.toggle-details(src='https://app-staging.clarusrd.com/img/caret.svg', js-hook="toggle-details")
															.top
																.row
																	.col-xs-3
																		.form-group
																			input#expense-2e59d35d-64fe-4a14-8068-37dde807a9e9-name.form-control.has-value(placeholder='Employee name' type='text' value='John Black')
																	.col-xs-1.info-icon
																	.col-xs-3
																		.form-group
																			input#expense-2e59d35d-64fe-4a14-8068-37dde807a9e9-title.form-control.has-value(placeholder='Title/role' type='text' value='Programmer')
																	.col-xs-3
																		.form-group
																			input#expense-2e59d35d-64fe-4a14-8068-37dde807a9e9-amount.form-control.has-value(placeholder='e.g., $30,000' type='text' user='[object Object]' value='$150,000.00')
																	.col-2.action-items
																		div
																			img(src='https://app-staging.clarusrd.com/img/trash.svg')
																			img(src='https://app-staging.clarusrd.com/img/copy.svg')
																		.allocation 100%
															.bottom
																.row
																	.col-xs-12
																		.form-group
																			textarea#expense-2e59d35d-64fe-4a14-8068-37dde807a9e9-duties.form-control.has-value(placeholder='Some of the responsibilities include...' type='text')
																				| John worked on QA strategy and design, automation design, and test case creation and execution.
																.row
																	div
																		div
																			.alert
																				.col-xs-2.icon.success !
																				.col-xs-11.message
																					| This allocation is ≥80%, therefore substantially all time spent on qualifying activities and 100% of wages will be used for the credit calculation. Reg. 1.41-2(d)(2)
																.row
																	.col-xs-9 projects
																	.col-xs-3 allocation
																hr
																.row
																	.col-xs-6
																		.form-group
																			a(href='/company/217/project/3468/?c=2') ABC Demo Inc (Project)
																	.col-xs-3
																		.form-group
																			input#5a565159-b052-4325-ab82-6d8c38097cce-allocation_amount.form-control.has-value(placeholder='e.g., $2,500' type='text' user='[object Object]' value='$120,000.00')
																	.col-xs-3
																		.form-group
																			input#5a565159-b052-4325-ab82-6d8c38097cce-allocation.form-control.has-value(placeholder='0%' type='text' value='80%')
																div
																	.row
																		div
																	.row
																		.col-xs-9 state work performed in
																		.col-xs-3 allocation
																	hr
																	.row
																		.col-xs-6
																			.form-group
																				#c68df781-c064-4471-8e36-c9c785da5bf5-state_value.css-1pcexqc-container
																					.css-1mirt27-control
																						.css-1hwfws3
																							.css-c37rmb-singleValue Ohio
																							.css-1g6gooi
																								div
																									input#react-select-2-input(autocapitalize='none' autocomplete='off' autocorrect='off' spellcheck='false' tabindex='0' type='text' aria-autocomplete='list' value='')
																									div
																						.css-1wy0on6
																							span.css-bgvzuu-indicatorSeparator
																							.css-16pqwjk-indicatorContainer(aria-hidden='true')
																								svg.css-19bqh2r(height='20' width='20' viewBox='0 0 20 20' aria-hidden='true' focusable='false')
																									path(d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z')
																					input(name='c68df781-c064-4471-8e36-c9c785da5bf5-state_value' type='hidden' value='OH')
																		.col-xs-3
																		.col-xs-2
																			.form-group
																				input#c68df781-c064-4471-8e36-c9c785da5bf5-allocation.form-control.has-value(placeholder='0%' type='text' value='100%')
																		.col-xs-1
																			img.action-item(src='https://app-staging.clarusrd.com/img/trash.svg')
																	.row
																		.col-xs-12
																		.add-state-button(js-hook="add-state-button")
																			img(src="/assets/images/add.svg")
																			span add work state
												.annotation-enabled
													div
														.resource(js-hook="resource")
															div(name='2e59d35d-64fe-4a14-8068-37dde807a9e9')
															img.toggle-details(src='https://app-staging.clarusrd.com/img/caret.svg', js-hook="toggle-details")
															.top
																.row
																	.col-xs-3
																		.form-group
																			input#expense-2e59d35d-64fe-4a14-8068-37dde807a9e9-name.form-control.has-value(placeholder='Employee name' type='text' value='John Black')
																	.col-xs-1.info-icon
																	.col-xs-3
																		.form-group
																			input#expense-2e59d35d-64fe-4a14-8068-37dde807a9e9-title.form-control.has-value(placeholder='Title/role' type='text' value='Programmer')
																	.col-xs-3
																		.form-group
																			input#expense-2e59d35d-64fe-4a14-8068-37dde807a9e9-amount.form-control.has-value(placeholder='e.g., $30,000' type='text' user='[object Object]' value='$150,000.00')
																	.col-2.action-items
																		div
																			img(src='https://app-staging.clarusrd.com/img/trash.svg')
																			img(src='https://app-staging.clarusrd.com/img/copy.svg')
																		.allocation 100%
															.bottom
																.row
																	.col-xs-12
																		.form-group
																			textarea#expense-2e59d35d-64fe-4a14-8068-37dde807a9e9-duties.form-control.has-value(placeholder='Some of the responsibilities include...' type='text')
																				| John worked on QA strategy and design, automation design, and test case creation and execution.
																.row
																	div
																		div
																			.alert
																				.col-xs-2.icon.success !
																				.col-xs-11.message
																					| This allocation is ≥80%, therefore substantially all time spent on qualifying activities and 100% of wages will be used for the credit calculation. Reg. 1.41-2(d)(2)
																.row
																	.col-xs-9 projects
																	.col-xs-3 allocation
																hr
																.row
																	.col-xs-6
																		.form-group
																			a(href='/company/217/project/3468/?c=2') ABC Demo Inc (Project)
																	.col-xs-3
																		.form-group
																			input#5a565159-b052-4325-ab82-6d8c38097cce-allocation_amount.form-control.has-value(placeholder='e.g., $2,500' type='text' user='[object Object]' value='$120,000.00')
																	.col-xs-3
																		.form-group
																			input#5a565159-b052-4325-ab82-6d8c38097cce-allocation.form-control.has-value(placeholder='0%' type='text' value='80%')
																div
																	.row
																		div
																	.row
																		.col-xs-9 state work performed in
																		.col-xs-3 allocation
																	hr
																	.row
																		.col-xs-6
																			.form-group
																				#c68df781-c064-4471-8e36-c9c785da5bf5-state_value.css-1pcexqc-container
																					.css-1mirt27-control
																						.css-1hwfws3
																							.css-c37rmb-singleValue Ohio
																							.css-1g6gooi
																								div
																									input#react-select-2-input(autocapitalize='none' autocomplete='off' autocorrect='off' spellcheck='false' tabindex='0' type='text' aria-autocomplete='list' value='')
																									div
																						.css-1wy0on6
																							span.css-bgvzuu-indicatorSeparator
																							.css-16pqwjk-indicatorContainer(aria-hidden='true')
																								svg.css-19bqh2r(height='20' width='20' viewBox='0 0 20 20' aria-hidden='true' focusable='false')
																									path(d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z')
																					input(name='c68df781-c064-4471-8e36-c9c785da5bf5-state_value' type='hidden' value='OH')
																		.col-xs-3
																		.col-xs-2
																			.form-group
																				input#c68df781-c064-4471-8e36-c9c785da5bf5-allocation.form-control.has-value(placeholder='0%' type='text' value='100%')
																		.col-xs-1
																			img.action-item(src='https://app-staging.clarusrd.com/img/trash.svg')
																	.row
																		.col-xs-12
																		.add-state-button(js-hook="add-state-button")
																			img(src="/assets/images/add.svg")
																			span add work state
												div(hidden='')
												.row
													.col-xs-12
														button.btn.add-new add new employee
											div
												hr
												h3 Payroll Integrations
												p Connect your payroll account to streamline data entry and ensure accuracy.
												button.Styles__AddIntegrationButton-sc-1f26iw4-0.kayYfy.btn add integration
										div

include partials/footer.pug
