include partials/head.pug
.app
	#root(data-company-id='362')
		div
			.questionnaire.container-fluid
				.questionnaire.container-fluid
					div
						main.container
							.questionnaire-navigation
								.card
									h4 Welcome Back
									p Let's Dig In
									b Next Step
									p Please complete the questionnaires and submit to us for review.
								.card.help.not-open
									img(src='https://app-staging.clarusrd.com/img/confused.svg')
									h4 Questions?
									p We're here to help!
									b.phone 614.706.3366
									a(href='mailto:mdiehl@clarusrd.com') mdiehl@clarusrd.com
									.btn
										| ask monika
										.confirmation
											img.confirm(src='https://app-staging.clarusrd.com/img/status-completed.svg')
											h2 Thanks!
											p We'll get back to you shortly
										form
											img.loading(src='https://app-staging.clarusrd.com/img/status-none.svg')
											textarea.form-control(placeholder='How can I help?')
											button.btn.btn-primary submit
							.questionnaire-inner-wrapper
								.chapter
									.section-content
										.section-page
											.card
												h1 Users
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
											hr
											.card
												h2 Users
												table.users
													tbody
														tr
															th name
															th email
															th role
															th permission
															th status
															th
														tr
															td Gary Walsh
															td gary@somecompany.com
															td Accountant
															td admin
															td active
															td
																.more-menu
																	img.dots(src='/assets/images/dots.svg', js-hook="project-dots", data-id="22")
																	.annotation-container
																		.annotation(js-hook='annotation-messages')
																			img.close(src='/assets/images/close.svg', js-hook='annotations-close')
																			.action-items(js-hook="annotation-action-items")
																				.action
																					.link(js-hook="delete-user")
																						img(src="/assets/images/annotation_comment.svg")
																						|  Delete user
																				.action.resolve-action(js-hook="annotation-resolve-action")
																					.link(js-hook="edit-user")
																						img(src="/assets/images/annotation_resolve.svg")
																						|  Edit user
																				.action.resend-action(js-hook="annotation-resolve-action")
																					.link(js-hook="resend-invite")
																						img(src="/assets/images/annotation_resolve.svg")
																						|  Resend invite
																			.confirmation.delete-confirmation Are you sure you want to delete the user "Gary Walsh"?
																				.choices
																					.choice.grey(js-hook="cancel-choice") cancel
																					.choice.blue(js-hook="delete-choice") delete
																			.confirmation.resend-confirmation Invite resent to Gary Walsh
																				.choices
																					.choice.blue(js-hook="cancel-choice") okay
														tr
															td Beth Ann Larceny
															td bethann@somecompany.com
															td CEO
															td restricted
															td pending
															td
																.more-menu
																	img.dots(src='/assets/images/dots.svg', js-hook="project-dots", data-id="22")
																	.annotation-container
																		.annotation(js-hook='annotation-messages')
																			img.close(src='/assets/images/close.svg', js-hook='annotations-close')
																			.action-items(js-hook="annotation-action-items")
																				.action
																					.link(js-hook="delete-user")
																						img(src="/assets/images/annotation_comment.svg")
																						|  Delete user
																				.action.resolve-action(js-hook="annotation-resolve-action")
																					.link(js-hook="edit-user")
																						img(src="/assets/images/annotation_resolve.svg")
																						|  Edit user
																				.action.resend-action(js-hook="annotation-resolve-action")
																					.link(js-hook="resend-invite")
																						img(src="/assets/images/annotation_resolve.svg")
																						|  Resend invite
																			.confirmation.delete-confirmation Are you sure you want to delete the user "Gary Walsh"?
																				.choices
																					.choice.grey(js-hook="cancel-choice") cancel
																					.choice.blue(js-hook="delete-choice") delete
																			.confirmation.resend-confirmation Invite resent to Gary Walsh
																				.choices
																					.choice.blue(js-hook="cancel-choice") okay
												form.add-user-form(js-hook="add-user-form")
													.form-group
														label.field-label(for='new-user-name') Full Name
														input#new-user-name.form-control(placeholder='Full Name', type='text', js-hook="new-user-name")
													.form-group
														label.field-label(for='new-user-email') Email
														.error(js-hook="new-user-email-error") This email already exists
														input#new-user-email.form-control(placeholder='Email', type='text', js-hook="new-user-email")
													.form-group
														label.field-label(for='new-user-role') Role
														input#new-user-role.form-control(placeholder='Role', type='text', js-hook="new-user-role")
													.form-group
														select(js-hook="new-user-permission")
															option(value='restricted') Restricted
															option(value='admin') Admin
												.btn.add-user(js-hook="add-user-button") Add user



include partials/footer.pug