<textarea name="name" rows="4" cols="80" placeholder="You can write your text here..."></textarea>
<textarea disabled name="name" rows="4" cols="80" placeholder="You can write your text here...">This is a disabled textbox that contains text</textarea>