include partials/head.pug
.app
	#root(data-project-id='187')
		.questionnaire.container-fluid
			div
				main.container
					.questionnaire-navigation
						.card
							h4 2017 Questionnaire
							a.company(href="") Terra Engineering
							.project-label projects
							hr
							a.project 
								| Client Webapp
								.completion.not-started 65% Complete
							a.project 
								| Mobile Scanner with Laser Beams
								.completion.complete Complete
							.project-label resources
							hr
							a.resource(href='/resources?')
								| Payroll
							a.resource(href='/resources?')
								| Contracting
							a.resource(href='/resources?')
								| Supplies
							.btn dashboard
						include partials/help.pug
					.questionnaire-inner-wrapper
						.chapter-nav
							.chapter-header
								.title
									h2 2017 Questionnaire
									h3 Terra Engineering
								.card.-current-estimate
									.summary-estimate-title 2017 Current Estimate
									.summary-estimate-amount
										|0.
										sup 00
							.chapter-wrapper
								.chapter-nav
									.hidden-xs.hidden-sm.hidden-md
										.chapter.selected(js-hook="chapter-selector", data-id="company-tab") company
										.chapter(js-hook="chapter-selector", data-id="revenue-tab") revenue
										.chapter(js-hook="chapter-selector", data-id="estimates-tab") estimates
						.chapter
							.section-content
								.section-page.tab.is-showing(js-hook="company-tab")
									.card
										h1.section-header Section 1: Company
										.row
											.col-md-6
												.form-group
													label.field-label(for='question-input-1') 1.1: Company name
													input#question-input-1.form-control(type='text', placeholder='1.1: Company name', value='')
											.col-md-6
												.form-group
													label.field-label(for='question-input-2') 1.2: In what state was work performed?
													.Select.is-clearable.is-searchable.Select--single
														.Select-control
															span#react-select-17--value.Select-multi-value-wrapper
																.Select-placeholder Select...
																.Select-input(style='display: inline-block;')
																	input#question-input-2(aria-activedescendant='react-select-17--value', aria-expanded='false', aria-haspopup='false', aria-owns='', role='combobox', value='', style='box-sizing: content-box; width: 5px;')
																	div(style='position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;')
															span.Select-arrow-zone
																span.Select-arrow
										.row
											.col-md-6
												.form-group
													label.field-label(for='question-input-3') 1.3: Your name
													input#question-input-3.form-control(type='text', placeholder='1.3: Your name', value='')
											.col-md-6
												.form-group
													label.field-label(for='question-input-4') 1.4: Your title
													input#question-input-4.form-control(type='text', placeholder='1.4: Your title', value='')
										.row
											.col-md-6
												.form-group
													label.field-label(for='question-input-150') 1.5 Business Entity Type
													.Select.is-clearable.is-searchable.Select--single
														.Select-control
															span#react-select-18--value.Select-multi-value-wrapper
																.Select-placeholder Select...
																.Select-input(style='display: inline-block;')
																	input#question-input-150(aria-activedescendant='react-select-18--value', aria-expanded='false', aria-haspopup='false', aria-owns='', role='combobox', value='', style='box-sizing: content-box; width: 5px;')
																	div(style='position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;')
															span.Select-arrow-zone
																span.Select-arrow
											.col-md-6
												.form-group
													label.field-label(for='question-input-151') 1.6 Federal Tax ID
													input#question-input-151.form-control(type='text', placeholder='1.6 Federal Tax ID', value='')
										.row
											.col-md-6
												.form-group
													label.field-label(for='question-input-152') 1.7 Fiscal Year End
													.Select.is-clearable.is-searchable.Select--single
														.Select-control
															span#react-select-19--value.Select-multi-value-wrapper
																.Select-placeholder Select...
																.Select-input(style='display: inline-block;')
																	input#question-input-152(aria-activedescendant='react-select-19--value', aria-expanded='false', aria-haspopup='false', aria-owns='', role='combobox', value='', style='box-sizing: content-box; width: 5px;')
																	div(style='position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;')
															span.Select-arrow-zone
																span.Select-arrow
										.row
											.col-md-12
												.form-group
													label.field-label.-light(for='question-input-5') 1.8: Please provide a short description of the company
													textarea#question-input-5.form-control(placeholder='1.5: Please provide a short description of the company', type='text')
													a.tooltip-text show me an example
									hr
									.card.page-navigation
										.row.hidden-md.hidden-sm.hidden-lg
											.col-xs-6
											.col-xs-6
												button.btn.btn-primary.col-xs-12 next
											.col-xs-12.mt-25
												button.btn.btn-default.col-xs-12 go to dashboard
										.row.hidden-xs
											.col-md-4.col-sm-4.col-xs-4
											.col-md-4.col-sm-4.col-xs-4.text-center
												button.btn.btn-default go to dashboard
											.col-md-4.col-sm-4.col-xs-4
												button.btn.btn-primary.pull-right next
								.section-page.tab(js-hook="revenue-tab")
									.card
										h1.section-header Section 2: Qualified Startup
										.row
											.col-md-6
												.form-group
													label.field-label(for='question-input-6') 2.1: In what year was the company founded?
													.Select.is-clearable.is-searchable.Select--single
														.Select-control
															span#react-select-20--value.Select-multi-value-wrapper
																.Select-placeholder Select...
																.Select-input(style='display: inline-block;')
																	input#question-input-6(aria-activedescendant='react-select-20--value', aria-expanded='false', aria-haspopup='false', aria-owns='', role='combobox', value='', style='box-sizing: content-box; width: 5px;')
																	div(style='position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;')
															span.Select-arrow-zone
																span.Select-arrow
											.col-md-6
												.form-group
													label.field-label(for='question-input-7') 2.2: In what year was the first gross revenue earned?
													.Select.is-clearable.is-searchable.Select--single
														.Select-control
															span#react-select-21--value.Select-multi-value-wrapper
																.Select-placeholder Select...
																.Select-input(style='display: inline-block;')
																	input#question-input-7(aria-activedescendant='react-select-21--value', aria-expanded='false', aria-haspopup='false', aria-owns='', role='combobox', value='', style='box-sizing: content-box; width: 5px;')
																	div(style='position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;')
															span.Select-arrow-zone
																span.Select-arrow
										label.sub-label.-light 2.3 Please provide your revenue for each of the last five years.
										.row
											.col-md-6
												.form-group
													label.field-label(for='question-input-80') 2017 Revenue
													input#question-input-80.form-control(type='text', placeholder='e.g., $100,000', value='')
											.col-md-6
												.form-group
													label.field-label(for='question-input-81') 2016 Revenue
													input#question-input-81.form-control(type='text', placeholder='e.g., $100,000', value='')
											.col-md-6
												.form-group
													label.field-label(for='question-input-82') 2015 Revenue
													input#question-input-82.form-control(type='text', placeholder='e.g., $100,000', value='')
											.col-md-6
												.form-group
													label.field-label(for='question-input-83') 2014 Revenue
													input#question-input-83.form-control(type='text', placeholder='e.g., $100,000', value='')
											.col-md-6
												.form-group
													label.field-label(for='question-input-84') 2013 Revenue
													input#question-input-84.form-control(type='text', placeholder='e.g., $100,000', value='')
									hr
									.card.page-navigation
										.row.hidden-md.hidden-sm.hidden-lg
											.col-xs-6
											.col-xs-6
												button.btn.btn-primary.col-xs-12 next
											.col-xs-12.mt-25
												button.btn.btn-default.col-xs-12 go to dashboard
										.row.hidden-xs
											.col-md-4.col-sm-4.col-xs-4
												button.btn.btn-primary.pull-left previous
											.col-md-4.col-sm-4.col-xs-4.text-center
												button.btn.btn-default go to dashboard
											.col-md-4.col-sm-4.col-xs-4
												button.btn.btn-primary.pull-right next
								.section-page.tab(js-hook="estimates-tab")
									.section-tax-estimates
										.card
											h1.section-header Tax Estimates
											p
												| Please provide an estimate of total payroll dollars for the company for 2017 and 2018 as well as a projection of 2017 federal income tax expense.  This information will allow us to determine the best way for you to monetize your credit.
											.row
												.col-md-6
													.form-group
														label.field-label.-light(for='question-input-86') 2017 Payroll Estimate
														input#question-input-86.form-control(type='text', placeholder='e.g., $80,000', value='')
												.col-md-6
													.form-group
														label.field-label.-light(for='question-input-87') 2018 Payroll Estimate
														input#question-input-87.form-control(type='text', placeholder='e.g., $80,000', value='')
												.col-md-6
													.form-group
														label.field-label.-light(for='question-input-88') 2017 Projected Federal Income Tax
														input#question-input-88.form-control(type='text', placeholder='e.g., $80,000', value='')
									hr
									.card.page-navigation
										.row.hidden-md.hidden-sm.hidden-lg
											.col-xs-6
												button.btn.btn-primary.col-xs-12 previous
											.col-xs-6
												button.btn.btn-primary.col-xs-12 next
											.col-xs-12.mt-25
												button.btn.btn-default.col-xs-12 go to dashboard
										.row.hidden-xs
											.col-md-4.col-sm-4.col-xs-4
												button.btn.btn-primary.pull-left previous
											.col-md-4.col-sm-4.col-xs-4.text-center
												button.btn.btn-default go to dashboard
											.col-md-4.col-sm-4.col-xs-4


include partials/footer.pug
