include partials/head.pug
.app
	#root(data-project-id='187')
		.questionnaire.container-fluid
			div
				main.container
					.questionnaire-navigation
						.card
							h4 Welcome Back!
							p We're almost finished!
							b Next Step
							p Please complete the Tax Credit Questionairres and submit it to us for review.
						include partials/help.pug
					.questionnaire-inner-wrapper
						.chapter-nav
						.chapter
							.section-content
								.section-page
									.dashboard-page
										.card.-overview-top
											.overview-title
												h1.overview-header-light 2018 Questionnaire
												.clarus-icon.overview-progress-text.overview-not-started NOT STARTED
											.overview-estimate
												.estimate-total 
													|0.
													sup 00
												.estimate-label estimate
											.overview-progress-button
												button.btn.btn-primary.pull-right start
										.card.-overview-bottom
											.carrot(js-hook="details-toggle") details
											.overview-details
												table.company
													tr
														th
														th company
														th revenue
														th estimates
													tr
														td(colspan="5")
															hr
													tr
														td 
															a(href="#") Terra Engineering
														td
															img(src="/assets/images/status_incomplete.svg")
														td
															img(src="/assets/images/status_incomplete.svg")
														td
															img(src="/assets/images/status_incomplete.svg")
												table.projects
													tr
														th
														th innovation
														th qualification
														th calculation
													tr
														td(colspan="5")
															hr
													tr
														td 
															a(href="#") Client Webapp
														td
															img(src="/assets/images/status_incomplete.svg")
														td
															img(src="/assets/images/status_incomplete.svg")
														td
															img(src="/assets/images/status_incomplete.svg")
													tr
														td 
															a(href="#") Mobile Scanner with Laserbeams coming out of the thing
														td
															img(src="/assets/images/status_incomplete.svg")
														td
															img(src="/assets/images/status_incomplete.svg")
														td
															img(src="/assets/images/status_incomplete.svg")
										hr
										.card.-overview-top
											.overview-title
												h1.overview-header-light 2017 Questionnaire
												.clarus-icon.overview-progress-text.overview-complete Complete
											.overview-estimate
												.estimate-total 
													|8,357.
													sup 21
												.estimate-label estimate
											.overview-progress-button
												button.btn.btn-primary.pull-right submit
										.card.-overview-bottom
											.carrot(js-hook="details-toggle") details
											.overview-details
												table.company
													tr
														th
														th company
														th revenue
														th estimates
													tr
														td(colspan="5")
															hr
													tr
														td 
															a(href="#") Terra Engineering
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
												table.projects
													tr
														th
														th innovation
														th qualification
														th calculation
													tr
														td(colspan="5")
															hr
													tr
														td 
															a(href="#") Client Webapp
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
													tr
														td 
															a(href="#") Mobile Scanner with Laserbeams coming out of the thing
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
										hr
										.card.-overview-top
											.overview-title
												h1.overview-header-light 2016 Questionnaire
												.clarus-icon.overview-progress-text.overview-not-started 25% Complete
											.overview-estimate
												.estimate-total 
													|5,598.
													sup 00
												.estimate-label estimate
											.overview-progress-button
												button.btn.btn-primary.pull-right continue
										.card.-overview-bottom
											.carrot(js-hook="details-toggle") details
											.overview-details
												table.company
													tr
														th
														th company
														th revenue
														th estimates
													tr
														td(colspan="5")
															hr
													tr
														td 
															a(href="#") Terra Engineering
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
												table.projects
													tr
														th
														th innovation
														th qualification
														th calculation
													tr
														td(colspan="5")
															hr
													tr
														td 
															a(href="#") Client Webapp
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_partial.svg")
													tr
														td 
															a(href="#") Mobile Scanner with Laserbeams coming out of the thing
														td
															img(src="/assets/images/status_incomplete.svg")
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_incomplete.svg")
										hr
										.card.-overview-top
											.overview-title
												h1.overview-header-light 2016 Questionnaire
												.clarus-icon.overview-progress-text.overview-complete Complete
											.overview-estimate
												.estimate-total 
													|8,776.
													sup 02
												.estimate-label estimate
											.overview-progress-button
												button.btn.btn-primary.pull-right.locked view
										.card.-overview-bottom
											.carrot(js-hook="details-toggle") details
											.overview-details
												table.company
													tr
														th
														th company
														th revenue
														th estimates
													tr
														td(colspan="5")
															hr
													tr
														td 
															a(href="#") Terra Engineering
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
												table.projects
													tr
														th
														th innovation
														th qualification
														th calculation
													tr
														td(colspan="5")
															hr
													tr
														td 
															a(href="#") Client Webapp
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
													tr
														td 
															a(href="#") Mobile Scanner with Laserbeams coming out of the thing
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
														td
															img(src="/assets/images/status_complete.svg")
include partials/footer.pug
