include partials/head.pug
.app
	#root(data-project-id='187')
		.questionnaire.container-fluid
			div
				main.container
					.questionnaire-navigation
						.card
							h4 2017 Questionnaire
							a.company(href="") Terra Engineering
							.project-label projects
							hr
							a.project 
								| Client Webapp
								.completion.not-started 65% Complete
							a.project 
								| Mobile Scanner with Laser Beams
								.completion.complete Complete
							.project-label resources
							hr
							a.resource(href='/resources?')
								| Payroll
							a.resource(href='/resources?')
								| Contracting
							a.resource(href='/resources?')
								| Supplies
							.btn dashboard
						include partials/help.pug
					.questionnaire-inner-wrapper
						.chapter-nav
							.chapter-header
								.title
									h2 2017 Questionnaire
									h3 Client Webapp
								.card.-current-estimate
									.summary-estimate-title 2017 Current Estimate
									.summary-estimate-amount
										|0.
										sup 00
							.chapter-wrapper
								.chapter-nav
									.hidden-xs.hidden-sm.hidden-md
										.chapter.selected(js-hook="chapter-selector", data-id="innovation-tab") innovation
										.chapter(js-hook="chapter-selector", data-id="qualification-tab") qualification
										.chapter(js-hook="chapter-selector", data-id="resources-tab") resources
						.chapter
							.section-content
								.section-page.tab.is-showing(js-hook="innovation-tab")
									.card
										h1.section-header Innovation Definition
										p
											| Your innovation is a business component that can be defined as any product, process, technique, invention, formula, or computer software intended to be held for sale, lease, license, or actual use in your business. A company can have one or many business components subject to a credit.
										.row
											.col-md-12
												.form-group
													label.field-label.-light(for='question-input-9') 3.1.1: Please provide a short description of the innovative business component.
													textarea#question-input-9.form-control(placeholder='Short description...', type='text')
										.row
											.col-md-12
												.form-group
													label.field-label.-light(for='question-input-10')
														| 3.1.2: Provide some background on why the initiative was undertaken, the customer problem, market opportunity, and what made it a unique opportunity for innovation.
													textarea#question-input-10.form-control(placeholder='Background...', type='text')
										.row
											.col-md-12
												.form-group
													label.field-label.-light(for='question-input-11')
														| 3.1.3: Please describe any significant improvements made during the tax year for which you are computing the credit.
													textarea#question-input-11.form-control(placeholder='Significant improvements...', type='text')
										.row
											.col-md-12
												.form-group
													label.field-label.-light(for='question-input-12')
														| 3.1.4: Was the innovation a product, process, technique, invention, formula, or computer software? If so, what was it?
													textarea#question-input-12.form-control(placeholder='Innovation type...', type='text')
										.row
											.col-md-12
												.form-group
													label.field-label.-light(for='question-input-13') 3.1.5: Did you intend to hold it for sale, lease, or license?
													div
														label.radio-label.clearfix
															input(type='radio', value='Yes')
															.radio-button
															span.radio-label-text Yes
														label.radio-label.clearfix
															input(type='radio', value='No')
															.radio-button
															span.radio-label-text No
										.row
											.col-md-12
												.form-group
													label.field-label.-light(for='question-input-14')
														| 3.1.6: Provide a brief overview of the principle people and special skill sets involved in the project.
													textarea#question-input-14.form-control(placeholder='Brief overview...', type='text')
									hr
									.card.page-navigation
										.row.hidden-md.hidden-sm.hidden-lg
											.col-xs-6
												button.btn.btn-primary.col-xs-12 previous
											.col-xs-6
												button.btn.btn-primary.col-xs-12 next
											.col-xs-12.mt-25
												button.btn.btn-default.col-xs-12 go to dashboard
										.row.hidden-xs
											.col-md-4.col-sm-4.col-xs-4

											.col-md-4.col-sm-4.col-xs-4.text-center
												button.btn.btn-default go to dashboard
											.col-md-4.col-sm-4.col-xs-4
												button.btn.btn-primary.pull-right next
								.section-page.tab(js-hook="qualification-tab")
									.card
										h1.section-header Section 4: Four Part Test
										p
											| In order to be considered a qualified innovation, the activity must pass a four-part test. The following questions relate to the four areas of the test:
										ul.bullet_points
											li Permitted Purpose
											li Technological in Nature
											li Elimination of Uncertainty
											li Process of Experimentation
									hr
									.card.page-navigation
										.row.hidden-md.hidden-sm.hidden-lg
											.col-xs-6
												button.btn.btn-primary.col-xs-12 previous
											.col-xs-6
												button.btn.btn-primary.col-xs-12 next
											.col-xs-12.mt-25
												button.btn.btn-default.col-xs-12 go to dashboard
										.row.hidden-xs
											.col-md-4.col-sm-4.col-xs-4
												button.btn.btn-primary.pull-left previous
											.col-md-4.col-sm-4.col-xs-4.text-center
												button.btn.btn-default go to dashboard
											.col-md-4.col-sm-4.col-xs-4
												button.btn.btn-primary.pull-right next
								.section-content.tab(js-hook="resources-tab")
									.section-page
										.section-resources
											.card
												.resource-header
													h1.section-header Internal Payroll Expenses
													.total-allocation $38,988.07
												table.employees
													tr
														th Name
														th Title/Role
														th.allocation Allocation
														th
													tr
														td 
															a(href="/") Jeremy Hardy
														td Sr System Developer
														td.allocation $26,481.66
														td.percentage
															a(href="/") 55%
													tr
														td
															a(href="/") Alexander Weber
														td Project Manager
														td.allocation $12,859.25
														td.percentage
															a(href="/") 11%
													tr
														td
															a(href="/") Zackary Garner
														td Sr Front End Developer
														td.allocation $33,781.33
														td.percentage 
															a(href="/") 20%
												hr
												.resource-header
													h1.section-header Third-Party Contracting
													.total-allocation $38,988.07
												table.contracting
													tr
														th Name
														th.allocation Allocation
														th
													tr
														td
															a(href="/") Gogozoom Technologies, LLC
														td.allocation $21,338.54
														td.percentage
															a(href="/") 78%
													tr
														td 
															a(href="/") Kelsey Vargas
														td.allocation $33,304.57
														td.percentage
															a(href="/") 79%
													tr
														td 
															a(href="/") Karina Boyd
														td.allocation $1,475.09
														td.percentage
															a(href="/") 43%
												hr
												.resource-header
													h1.section-header Supplies
													.total-allocation $38,988.07
												table.supplies
													tr
														th Expense
														th.allocation Allocation
														th
													tr
														td 
															a(href="/") Capsule Manufacturing Equipment
														td.allocation $18,222.10
														td.percentage
															a(href="/") 49%
													tr
														td 
															a(href="/") Shaft Seals
														td.allocation $6,539.29
														td.percentage
															a(href="/") 41%
													tr
														td 
															a(href="/") Homogenizers
														td.allocation $24,895.41
														td.percentage
															a(href="/") 15%
										hr
										.card.page-navigation
											.row.hidden-md.hidden-sm.hidden-lg
												.col-xs-6
													button.btn.btn-primary.col-xs-12 previous
												.col-xs-6
												.col-xs-12.mt-25
													button.btn.btn-default.col-xs-12 go to dashboard
											.row.hidden-xs
												.col-md-4.col-sm-4.col-xs-4
													button.btn.btn-primary.pull-left previous
												.col-md-4.col-sm-4.col-xs-4.text-center
													button.btn.btn-default go to dashboard
												.col-md-4.col-sm-4.col-xs-4


include partials/footer.pug
