include partials/head.pug
.app
	#root(data-project-id='187')
		.questionnaire.container-fluid
			div
				main.container.resources-page
					.questionnaire-navigation
						.card
							h4 2017 Questionnaire
							a.company(href="") Terra Engineering
							.project-label projects
							hr
							a.project 
								| Client Webapp
								.completion.not-started 0% Complete
							a.project 
								| Mobile Scanner with Laser Beams
								.completion.complete Complete
							.project-label resources
							hr
							a.resource(href='/resources?')
								| Payroll
							a.resource(href='/resources?')
								| Contracting
							a.resource(href='/resources?')
								| Supplies
							.btn dashboard
						include partials/help.pug
					.questionnaire-inner-wrapper
						.chapter-nav
							.chapter-header
								.title
									h2 Resources
							.chapter-wrapper
								.chapter-nav
									.hidden-xs.hidden-sm.hidden-md
										.chapter.selected(js-hook="chapter-selector", data-id="payroll-tab") internal payroll
										.chapter(js-hook="chapter-selector", data-id="contracting-tab") third-party contracting
										.chapter(js-hook="chapter-selector", data-id="supplies-tab") supplies
						.chapter
							.section-content
								.section-page.tab.is-showing(js-hook="payroll-tab")
									.card.description(js-hook="description")
										h1.section-header Internal Payroll Expenses
											img.toggle(src="/assets/images/caret.svg", js-hook="toggle-paragraph")
										.paragraphs-content
											p The cost of your employees is typically the biggest component of the credit. In this section, please list each employee that worked on your innovation. 100% of these costs are eligible for the credit. For each employee, input their name, title, annual compensation (Box 1 W-2 wages), and an estimate of the percentage of time during the year spent supervising, supporting, or working directly on the innovation. Please add a short description of their duties and responsibilities to support their role in the development of the innovation.
											p Add all employees that worked on the innovation.
											p Senior level employees can be qualified to the degree they directly contributed to the innovation and are no more than two levels removed from the direct innovation workers.
									hr
									.card.resources(js-hook="resources")
										.headers
											.header
											.header Name
											.header Title/Role
											.header.compensation Compensation
											.header
										.resource(js-hook="resource")
											.top
												.item
													img.toggle(src="/assets/images/caret.svg", js-hook="toggle-resource")
												.item.form-group
													input.form-control(type='text', placeholder='Employee name', value='')
												.item.form-group
													input.form-control(type='text', placeholder='Title/role', value='')
												.item.form-group.compensation
													input.form-control.cost(type='text', placeholder='e.g., $30,000', value='')
												.item.action-items
													img.delete-icon(src="/assets/images/trash.svg", js-hook="delete-resource")
													img.copy-icon(src="/assets/images/copy.svg", js-hook="copy-resource")
													.allocation 0%
											.bottom
												.form-group.resource-description
													textarea#question-input-5.form-control(placeholder="Please provide a short description of the employee's responsibilities", type='text')
												.alert(js-hook="alert")
													.icon.warning i
													.message Some text about checking to make sure vacation or sick time is included in the allocated estimate.
												.projects
													.headers
														.header projects
														.header allocation
													hr
													.project-list
														.project
															.item
																a(href="") Client Webapp
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='', js-hook="input-percentage")
														.project
															.item
																a(href="") Mobile Scanner with Laser Beams
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='', js-hook="input-percentage")
										.resource(js-hook="resource")
											.top
												.item
													img.toggle(src="/assets/images/caret.svg", js-hook="toggle-resource")
												.item.form-group
													input.form-control(type='text', placeholder='Employee name', value='')
												.item.form-group
													input.form-control(type='text', placeholder='Title/role', value='')
												.item.form-group.compensation
													input.form-control.cost(type='text', placeholder='e.g., $30,000', value='')
												.item.action-items
													img.delete-icon(src="/assets/images/trash.svg", js-hook="delete-resource")
													img.copy-icon(src="/assets/images/copy.svg", js-hook="copy-resource")
													.allocation 0%
											.bottom
												.form-group.resource-description
													textarea#question-input-5.form-control(placeholder="Please provide a short description of the employee's responsibilities", type='text')
												.alert(js-hook="alert")
													.icon.warning i
													.message Some text about checking to make sure vacation or sick time is included in the allocated estimate.
												.projects
													.headers
														.header projects
														.header allocation
													hr
													.project-list
														.project
															.item
																a(href="") Client Webapp
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='', js-hook="input-percentage")
														.project
															.item
																a(href="") Mobile Scanner with Laser Beams
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='', js-hook="input-percentage")
										.resource(js-hook="resource")
											.top
												.item
													img.toggle(src="/assets/images/caret.svg", js-hook="toggle-resource")
												.item.form-group
													input.form-control(type='text', placeholder='Employee name', value='')
												.item.form-group
													input.form-control(type='text', placeholder='Title/role', value='')
												.item.form-group.compensation
													input.form-control.cost(type='text', placeholder='e.g., $30,000', value='')
												.item.action-items
													img.delete-icon(src="/assets/images/trash.svg", js-hook="delete-resource")
													img.copy-icon(src="/assets/images/copy.svg", js-hook="copy-resource")
													.allocation 0%
											.bottom
												.form-group.resource-description
													textarea#question-input-5.form-control(placeholder="Please provide a short description of the employee's responsibilities", type='text')
												.alert(js-hook="alert")
													.icon.warning i
													.message Some text about checking to make sure vacation or sick time is included in the allocated estimate.
												.projects
													.headers
														.header projects
														.header allocation
													hr
													.project-list
														.project
															.item
																a(href="") Client Webapp
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='')
														.project
															.item
																a(href="") Mobile Scanner with Laser Beams
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='', js-hook="input-percentage")
										.btn.add-new(js-hook="add-new-employee") add new employee
								.section-page.tab(js-hook="contracting-tab")
									.card.description(js-hook="description")
										h1.section-header Third Party Contracting
											img.toggle(src="/assets/images/caret.svg", js-hook="toggle-paragraph")
										.paragraphs-content
											p The cost paid for outside contracting can also be eligible for the credit. This can take the form of staff augmentation or contracted projects. 0% of these costs are eligible for the credit. The activity must occur in the United States, and you must be responsible for the fees even if the innovation was not successful. For each item, input the contractor name, fees, and percentage of the expense that directly applies to the innovation.
									hr
									.card.resources.fifty(js-hook="resources")
										.headers
											.header
											.header Name
											.header.compensation Compensation
											.header
										.resource(js-hook="resource")
											.top
												.item
													img.toggle(src="/assets/images/caret.svg", js-hook="toggle-resource")
												.item.form-group
													input.form-control(type='text', placeholder='Name', value='')
												.item.form-group.compensation
													input.form-control.cost(type='text', placeholder='e.g., $30,000', value='')
												.item.action-items
													img.delete-icon(src="/assets/images/trash.svg", js-hook="delete-resource")
													img.copy-icon(src="/assets/images/copy.svg", js-hook="copy-resource")
													.allocation 0%
											.bottom
												.form-group.resource-description
													textarea#question-input-5.form-control(placeholder="Please provide a short description", type='text')
												.alert(js-hook="alert")
													.icon.warning i
													.message Some text about checking to make sure vacation or sick time is included in the allocated estimate.
												.projects
													.headers
														.header projects
														.header allocation
													hr
													.project-list
														.project
															.item
																a(href="") Client Webapp
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='', js-hook="input-percentage")
														.project
															.item
																a(href="") Mobile Scanner with Laser Beams
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='', js-hook="input-percentage")
										.resource(js-hook="resource")
											.top
												.item
													img.toggle(src="/assets/images/caret.svg", js-hook="toggle-resource")
												.item.form-group
													input.form-control(type='text', placeholder='Name', value='')
												.item.form-group.compensation
													input.form-control.cost(type='text', placeholder='e.g., $30,000', value='')
												.item.action-items
													img.delete-icon(src="/assets/images/trash.svg", js-hook="delete-resource")
													img.copy-icon(src="/assets/images/copy.svg", js-hook="copy-resource")
													.allocation 0%
											.bottom
												.form-group.resource-description
													textarea#question-input-5.form-control(placeholder="Please provide a short description", type='text')
												.alert(js-hook="alert")
													.icon.warning i
													.message Some text about checking to make sure vacation or sick time is included in the allocated estimate.
												.projects
													.headers
														.header projects
														.header allocation
													hr
													.project-list
														.project
															.item
																a(href="") Client Webapp
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='')
														.project
															.item
																a(href="") Mobile Scanner with Laser Beams
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='', js-hook="input-percentage")
										.resource(js-hook="resource")
											.top
												.item
													img.toggle(src="/assets/images/caret.svg", js-hook="toggle-resource")
												.item.form-group
													input.form-control(type='text', placeholder='Name', value='')
												.item.form-group.compensation
													input.form-control.cost(type='text', placeholder='e.g., $30,000', value='')
												.item.action-items
													img.delete-icon(src="/assets/images/trash.svg", js-hook="delete-resource")
													img.copy-icon(src="/assets/images/copy.svg", js-hook="copy-resource")
													.allocation 0%
											.bottom
												.form-group.resource-description
													textarea#question-input-5.form-control(placeholder="Please provide a short description", type='text')
												.alert(js-hook="alert")
													.icon.warning i
													.message Some text about checking to make sure vacation or sick time is included in the allocated estimate.
												.projects
													.headers
														.header projects
														.header allocation
													hr
													.project-list
														.project
															.item
																a(href="") Client Webapp
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='')
														.project
															.item
																a(href="") Mobile Scanner with Laser Beams
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='', js-hook="input-percentage")
										.btn.add-new(js-hook="add-new-contractor") add new contractor
								.section-page.tab.supplies-tab(js-hook="supplies-tab")
									.section-tax-estimates
									.card.description(js-hook="description")
										h1.section-header Supplies
											img.toggle(src="/assets/images/caret.svg", js-hook="toggle-paragraph")
										.paragraphs-content
											p Expenses for supplies that are not capitalized and are used or consumed in the development of your innovation are eligible for the credit. 100% of these costs are eligible. Some supplies will be directly related to the innovation and others will support it.
									hr
									.card.resources.fifty(js-hook="resources")
										.headers
											.header
											.header Expense
											.header.compensation Amount
										.resource(js-hook="resource")
											.top
												.item
													img.toggle(src="/assets/images/caret.svg", js-hook="toggle-resource")
												.item.form-group
													input.form-control(type='text', placeholder='Expense', value='')
												.item.form-group.compensation
													input.form-control.cost(type='text', placeholder='e.g., $30,000', value='')
												.item.action-items
													img.delete-icon(src="/assets/images/trash.svg", js-hook="delete-resource")
													img.copy-icon(src="/assets/images/copy.svg", js-hook="copy-resource")
													.allocation 0%
											.bottom
												.alert(js-hook="alert")
													.icon.warning i
													.message Some text about checking to make sure vacation or sick time is included in the allocated estimate.
												.projects
													.headers
														.header projects
														.header allocation
													hr
													.project-list
														.project
															.item
																a(href="") Client Webapp
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='', js-hook="input-percentage")
														.project
															.item
																a(href="") Mobile Scanner with Laser Beams
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='', js-hook="input-percentage")
										.resource(js-hook="resource")
											.top
												.item
													img.toggle(src="/assets/images/caret.svg", js-hook="toggle-resource")
												.item.form-group
													input.form-control(type='text', placeholder='Expense', value='')
												.item.form-group.compensation
													input.form-control.cost(type='text', placeholder='e.g., $30,000', value='')
												.item.action-items
													img.delete-icon(src="/assets/images/trash.svg", js-hook="delete-resource")
													img.copy-icon(src="/assets/images/copy.svg", js-hook="copy-resource")
													.allocation 0%
											.bottom
												.alert(js-hook="alert")
													.icon.warning i
													.message Some text about checking to make sure vacation or sick time is included in the allocated estimate.
												.projects
													.headers
														.header projects
														.header allocation
													hr
													.project-list
														.project
															.item
																a(href="") Client Webapp
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='')
														.project
															.item
																a(href="") Mobile Scanner with Laser Beams
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='')
										.resource(js-hook="resource")
											.top
												.item
													img.toggle(src="/assets/images/caret.svg", js-hook="toggle-resource")
												.item.form-group
													input.form-control(type='text', placeholder='Expense', value='')
												.item.form-group.compensation
													input.form-control.cost(type='text', placeholder='e.g., $30,000', value='')
												.item.action-items
													img.delete-icon(src="/assets/images/trash.svg", js-hook="delete-resource")
													img.copy-icon(src="/assets/images/copy.svg", js-hook="copy-resource")
													.allocation 0%
											.bottom
												.alert(js-hook="alert")
													.icon.warning i
													.message Some text about checking to make sure vacation or sick time is included in the allocated estimate.
												.projects
													.headers
														.header projects
														.header allocation
													hr
													.project-list
														.project
															.item
																a(href="") Client Webapp
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='')
														.project
															.item
																a(href="") Mobile Scanner with Laser Beams
															.item.form-group
																input.form-control.cost(type='text', placeholder='e.g., $2,500', value='', js-hook="input-cost")
															.item.form-group
																input.form-control(type='text', placeholder='0%', value='')
										.btn.add-new(js-hook="add-new-supply") add new supplies
										


include partials/footer.pug
