include partials/head.pug
.app
	#root(data-project-id='187')
		.questionnaire.container-fluid
			div
				main.container
					.questionnaire-navigation
						.card
							h4 2017 Questionnaire
							a.company(href="") Terra Engineering
							.project-label projects
							hr
							a.project 
								| Client Webapp
								.completion.not-started 65% Complete
							a.project 
								| Mobile Scanner with Laser Beams
								.completion.complete Complete
							.btn dashboard
						include partials/help.pug
					.questionnaire-inner-wrapper
						.chapter-nav
							.chapter-header
								.title.full
									h2 2017 Questionnaire
						.chapter.summary
							.section-content
								.section-page
									.card
										h1.section-header 2017 Total Estimated Tax Credit
										.estimate-total 
											|3,176.
											sup 26
										.btn.btn-primary(js-hook="submit-review") submit for review
											.confirmation
												img.confirm(src="/assets/images/status_complete.svg")
												h2 Thanks!
												p Monika will get back to you shortly.
											form(js-hook="form-submit-review")
												img.loading(src="/assets/images/status_none.svg")
												textarea.form-control(placeholder='Anything we should know about this questionnaire?', type='text')
												button.btn.btn-primary submit
										hr
										.card-removable
											h1 How was your credit calculated?
											ol
												li
													| First, we calculate your 
													strong Base Amount
													| , which is greater of:
													br
													br
													strong 50%
													|  of Qualified Expenses; or,
													br
													strong 3%
													|  of your average revenue for the four years preceding the credit year.
													.calc-card
														.row
															.col-md-12.col-sm-12.col-xs-12.p-0 Your Information
														.row
															.col-md-6.col-sm-6.col-xs-6.p-0 Your average revenue for the 4 years prior to the credit year:
															.col-md-6.col-sm-6.col-xs-6.how-calc-right-text.text-success
																b $0.00
														.row
															.col-md-6.col-sm-6.col-xs-6.p-0
																strong 3%
																|  of average revenue above:
															.col-md-6.col-sm-6.col-xs-6.how-calc-right-text.text-success
																b $0.00
														.row
															.col-md-6.col-sm-6.col-xs-6.p-0 Total Qualifying Expenses:
															.col-md-6.col-sm-6.col-xs-6.how-calc-right-text.text-success
																b $0.00
														.row
															.col-md-6.col-sm-6.col-xs-6.p-0
																strong 50%
																|  of Your Qualifying Expenses:
															.col-md-6.col-sm-6.col-xs-6.how-calc-right-text.text-success
																b $0.00
														.row
															.col-md-6.col-sm-6.col-xs-6.p-0
																strong Your Base Amount:
															.col-md-6.col-sm-6.col-xs-6.how-calc-right-text.text-success
																b $0.00
												li
													| Second, we calculate your 
													strong Total Credit
													| , which is 
													strong 20%
													|  of qualifying expenses in excess of your base amount.
													.calc-card
														.row
															.col-md-12.col-sm-12.col-xs-12.p-0 Your Information
														.row
															.col-md-6.col-xs-6.col-sm-6.p-0 Your qualifying expenses in excess of your base amount:
															.col-md-6.col-xs-6.col-sm-6.how-calc-right-text.text-success
																b $0.00
														.row
															.col-md-6.col-xs-6.col-sm-6.p-0
																strong 20%
																|  of excess above:
															.col-md-6.col-xs-6.col-sm-6.how-calc-right-text.text-success
																b $0.00
														.row
															.col-md-6.col-xs-6.col-sm-6.p-0
																strong Your Total Credit:
															.col-md-6.col-xs-6.col-sm-6.how-calc-right-text.text-success
																b $0.00
												li
													| Finally, we calculate what amount of your Total Credit may be applied to your Estimated Payroll Taxes.
													br
													| As a rule, you may apply up to the lesser of $250,000 or your Estimated Payroll Taxes:
													.calc-card.-alt
														.row
															.col-md-6.col-xs-6.col-sm-6.p-0 Credit to be applied toward payroll tax:
															.col-md-6.col-xs-6.col-sm-6.how-calc-right-text
																b $0.00
														.row
															.col-md-6.col-xs-6.col-sm-6.p-0 Credit applicable to future income tax liability:
															.col-md-6.col-xs-6.col-sm-6.how-calc-right-text
																b $0.00

										

include partials/footer.pug
