<div class="card" style="max-width: 265px">
	<nav>
		<div class="navtitle">expenses</div>
		<a href="">Activities</a>
		<a href="">Payroll</a>
		<a href="">Contracting</a>
		<a href="">Supplies</a>
		</ul>
	</nav>

</div>
