.navbar .navbar-right {

	img{
		margin-top: 39px;
		margin-bottom: 39px;
		cursor: pointer;
		transition: opacity .3s;
		position: relative;

		&:hover {
			opacity: .6;
		}
	}

	span.new {
		position: absolute;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: red;
		top: 36px;
		right: 0px;
	}
}

#notifications-panel {
	width: 300px;
	position: absolute;
	background-color: white;
	right: -300px;
	min-height: calc(100% - 128px);
	max-height: calc(100% - 128px);
	box-shadow: -4px 2px 5px 0px rgba(0,0,0,0.5);
	z-index: 1000;
	transition: right .7s;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	overflow: scroll;

	&.is-open {
		right: 0px;
	}

	img.close {
		position: absolute;
		right: 15px;
		top: 15px;
		opacity: 1;
		cursor: pointer;
		transition: opacity .3s;

		&:hover {
			opacity: .5;
		}
	}

	.time-period {
		margin-bottom: 25px;

		.when {
			color: #6D6C6C;
			font-weight: bold;
			font-size: 14px;
			margin-bottom: 15px;
		}

		.notification {
			display: flex;
			margin-bottom: 18px;

			.avatar {
				background-color: #092F57;
				border-radius: 50%;
				min-width: 30px;
				min-height: 30px;
				color: white;
				font-weight: bold;
				font-size: 18px;
				display: flex;
				justify-content: center;
				align-items: center;
				align-self:flex-start;
				position: relative;
				padding-bottom: 3px;

				&.is-admin:before {
					content: url(/assets/images/admin.svg);
					bottom: -7px;
					left: -4px;
					position: absolute;
				}

				&.is-new:after {
					content: url(/assets/images/new.svg);
					top: -7px;
					right: -4px;
					position: absolute;
				}

				&.blue {
					background-color: #092F57;
				}

				&.light-blue {
					background-color: #1571D4;
				}
			}
			.message {
				font-size: 14px;
				line-height: 1.2;
				margin-left: 10px;
				font-weight: 100;

				a {
					transition: color .3s;

					&:hover {
						color: #061f39;
						text-decoration: none;
					}
				}
			}
			img.caret2 {
				align-self:flex-start;
				margin-top: 5px;
				margin-left: 5px;
				cursor: pointer;
				transition: opacity .3s;

				&:hover {
					opacity: .7;
				}
			}
		}
	}

	.resolved-notifications {

		.btn.resolved {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}

		.time-period {
			opacity: .5;
			display: none;
		}

		.resolved-title {
			color: #BBBCBC;
			font-style: italic;
			padding-bottom: 6px;
			border-bottom: 2px dashed #979797;
			margin-bottom: 16px;
			display: none;
		}

		&.is-open {

			.btn.resolved {
				display: none;
			}
		
			.time-period, .resolved-title {
				display: block;
			}

		}
	}
}



.annotation-container {
	position: absolute;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	z-index: 1;

	.annotation-icon {
		width: 18px;
		height: 16px;
		justify-content: center;
		align-content: center;
		line-height: .9;
		font-size: 13px;
		cursor: pointer;
		transition: opacity .3s;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url(/assets/images/annotation_add.svg);
		background-repeat: no-repeat;
		background-size: contain;
		display: none;

		&.is-showing {
			display: flex!important;
		}

		&:hover {
			opacity: .4;
		}
	}

	.annotation {
		position: absolute;
		background: #fff;
		border-radius: .4em;
		padding: 15px;
		border: 1px solid grey;
		box-shadow: 3px 5px 9px 0px rgba(0, 0, 0, 0.28);
		width: 300px;
		top: -248px;
		right: -30px;
		max-height: 237px;
		display: none;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 260px;
			width: 0;
			height: 0;
			border: 9px solid transparent;
			border-top-color: #fff;
			border-bottom: 0;
			margin-left: -9px;
			margin-bottom: -9px;
		}

		.messages {
			overflow-y: scroll;
			max-height: 150px;
			display: flex;
			flex-direction: column-reverse;
		}

		.message-head {
			display: flex;
			justify-content: space-between;

			.author {
				font-weight: bold;
			}

			.date {
				font-weight: 100;
				font-style: italic;
				color: #C5C5C5;
			}
		}

		.message-body {
			padding-bottom: 5px;
			border-bottom: 1px dashed #979797;
			margin-bottom: 5px;
		}

		.action-items {
			display: flex;
			flex-direction: column;
			margin-top: 7px;

			.action {
				margin-bottom: 5px;

				.link {
					display: inline-block;
					color: #C5C5C5;
					transition: opacity .3s;
					cursor: pointer;
					display: inline-block;

					img {
						position: relative;
						top: -1px;
						margin-right: 2px;
					}

					&:hover {
						opacity: .5;
					}
				}
			}

			&.is-hidden {
				display: none;
			}
		}

		.new-message {
			display: none;
			padding-bottom: 10px;

			.message {
				width: 265px;
			}

			input {
				border: none;
				width: 265px;
				font-weight: normal;
				color: black;
				padding: 0px;
				font-size: 14px;
			}

			&.is-showing {
				display: flex;
			}
			.new-message-actions {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			label.checkbox {
				color: #C5C5C5;
				font-size: 14px;
				font-style: italic;
				font-weight: normal;
				padding-left: 21px;
				line-height: .9;
				margin: 0px;
				margin-top: 8px;
			}

			span.checkmark {
				width: 16px;
				height: 16px;
			}

			.internal-checkbox {
				width: 60%;

				.checkbox {
					display: inline-block;
				}
			}

			.new-message-action {
				font-size: 14px;
				font-style: italic;
				font-weight: normal;
				color: #C5C5C5;
				cursor: pointer;
				transition: opacity .3s;

				&.blue {
					color: #1571D4;
				}

				&:hover {
					opacity: .5;
				}
			}

			.checkbox .checkmark:after {
				left: 6px;
				top: 2px;
				width: 5px;
				height: 10px;
				border: solid white;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
			}
		}

		.unresolve-action {
			display: none;
			align-items: center;

			span {
				color: #55920C;
				margin-right: 40px;
				margin-left: 5px;
				display: inline-block;
			}

			&.is-showing {
				display: flex;
			}
		}

		.resolve-action.is-hidden {
			display: none;
		}

		&.is-showing {
			display: block;
		}

		&.is-new {

			.action-items {
				display: none;
			}

			.new-message {
				display: flex;
			}

			.new-message-action.cancel {
				display: none;
			}
		}

		img.close {
			position: absolute;
			top: 4px;
			right: 6px;
			opacity: 1;
			width: 14px;
			height: 14px;
		}
	}

	&.is-unread {

		.annotation-icon {
			background-image: url(/assets/images/annotation_new.svg);
			color: red;
			display: flex;
		}
	}

	&.is-read {
		.annotation-icon {
			background-image: url(/assets/images/annotation_read.svg);
			color: #B1B1B1;
			display: flex;
		}
	}

	&.is-resolved {
		.annotation-icon { 
			background-image: url(/assets/images/annotation_resolved.svg);
			color: #55920C;
			display: flex;
		}
	}
}

.annotation-enabled {
	position: relative;

	&:hover {
		.annotation-icon {
			display: flex;
		}
	}
}