.app.ertc {
	
	.questionnaire:before {
		background-color: #55920C!important;
	}

	table.company tr th {
		border-bottom: none;
		padding-bottom: 0px;
	}

	.chapter-wrapper .chapter-nav.dashboard > div {
		width: 100%;

		a {
			color: white;
		}
	}

}

.form-group input.multi-select {
	-webkit-box-align: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
	border-color: rgb(85, 146, 12);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	cursor: default;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	min-height: 38px;
	position: relative;
	transition: all 100ms ease 0s;
	box-sizing: border-box;
	outline: 0px !important;


}