.card.expert {

	.expert-details {
		display: flex;

		.expert-name, .expert-title {
			width: 50%;
			padding: 10px;

			input[type=text] {
				width: 100%;
			}
		}
	}

	table.allocation {

		td:last-child {
			width: 80px;
		}

		textarea {
			width: 100%;
		}

		select {
			max-width: 200px;
		}
	}

	img.add {
		margin-right: 0px;
	}
}