.integrations {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	.integration {
		width: 200px;
		border-radius: 5px;
		border: 1px solid #979797;
		padding: 2%;
		box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.5);
		position: relative;
		margin-bottom: 25px;


		.logo {
			height: 100px;
			background-size: 75%;
			background-position: center;
			background-repeat: no-repeat;
		}

		.title {
			color: #092F57;
			font-weight: bold;
			font-size: 20px;
		}

		.description {
			font-weight: 100;
			font-size: 14px;
			line-height: 1.2;
			min-height: 120px;
			max-height: 120px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.links {
			display: flex;
			justify-content: space-between;

			a.is-disabled {
				color: #B8B8B8;
			}
		}

		&:last-child {
			margin-right: 0px;
		}

		&:first-child {
			margin-left: 0px;
		}

		.ribbon {
			position: absolute;
			left: -5px; top: -5px;
			z-index: 1;
			overflow: hidden;
			width: 75px; height: 75px;
			text-align: right;
		  }
		  .ribbon span {
			font-size: 11px;
			letter-spacing: .5px;
			font-weight: bold;
			color: #FFF;
			text-transform: uppercase;
			text-align: center;
			line-height: 20px;
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			width: 100px;
			display: block;
			background: #79A70A;
			background: linear-gradient(#9BC90D 0%, #79A70A 100%);
			box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
			position: absolute;
			top: 19px; left: -21px;
		  }
		  .ribbon span::before {
			content: "";
			position: absolute; left: 0px; top: 100%;
			z-index: -1;
			border-left: 3px solid #79A70A;
			border-right: 3px solid transparent;
			border-bottom: 3px solid transparent;
			border-top: 3px solid #79A70A;
		  }
		  .ribbon span::after {
			content: "";
			position: absolute; right: 0px; top: 100%;
			z-index: -1;
			border-left: 3px solid transparent;
			border-right: 3px solid #79A70A;
			border-bottom: 3px solid transparent;
			border-top: 3px solid #79A70A;
		  }
	}
}

.integration-icon {
	margin-top: 20px;
}

.col-xs-1.center {
	text-align: center;
}

.import-panel {
	background-color: #F7F7F7;
	padding: 25px;
	padding-bottom: 35px;

	.import-title {
		color: #BCBDBD;
		font-size: 18px;
		margin-top: 0px;
		margin-bottom: 30px;

		img {
			margin-left: 10px;
		}
	}

	table tr td:last-child {
		padding-left: 0px;
	}
}