main.resources-page {

	.import-list {
		border: #979797 1px solid;
		padding: 14px;
		margin-bottom: 25px;

		p {
			color: #7D7D7D;
			font-style: italic;
			font-size: 14px;
			margin-bottom: 0px;
		}

		& ~ .btn {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}