// Place these styles at the bottom of the main clarus style sheet

body {
	overflow-x: hidden;
}

.download {
	display: inline-block;
	position: relative;
}

img.excel {
	margin-left: 10px;
	cursor: pointer;
	transition: opacity .3s;

	&:hover {
		opacity: .6;

		&~.bubbletip {
			opacity: 1;
		}
	}
}

.bubbletip {
	padding: 5px;
	color: #c5c5c5;
	font-size: 12px;
	width: 180px;
	background-color: white;
	border-radius: 5px;
	border: 1px #c5c5c5 solid;
	position: absolute;
	top: -10px;
	left: 45px;
	opacity: 0;
	transition: opacity .3s;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-right-color: white;
		border-left: 0;
		margin-top: -10px;
		margin-left: -10px;
	}
}

.import-instructions {
	color: white;
	margin-left: 50px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height .5s;

	.steps {
		display: flex;
		margin-top: 25px;
		margin-bottom: 75px;

		.step {
			border-right: 1px solid #b4b4b4;
			padding-left: 30px;
			padding-right: 30px;
			width: 33%;
			position: relative;

			img.step-arrow {
				position: absolute;
				top: 40%;
				right: -20px;
			}

			.step-title {
				font-weight: bold;
				font-size: 27px;
				text-transform: uppercase;
				margin-top: 0px;
			}

			.step-button {
				box-shadow: 0 2px 0.22222em rgba(0,0,0,0.25);
				background-color: white;
				color: #1571d4;
				padding: 5px;
				padding-top: 3px;
				width: 150px;
				text-align: center;
				border-radius:3px;
				align-self: center;
				display: inline-block;
				margin-top: 20px;
				cursor: pointer;
				transition: opacity .3s;

				&:hover {
					opacity: .8;
				}
			}

			&:first-child {
				padding-left: 0px;
			}

			&:last-child {
				border-right: 0px;
			}
		}
	}
}

.questionnaire:before {
	transition: height .3s;
}

.questionnaire.container-fluid.background.is-open {

	&:before {
		height: 800px;
		transition: height .3s;
	}

	.import-instructions {
		max-height: 1000px;
	}
}

img.dots {
	cursor: pointer;
	transition: opacity .5s;

	&:hover {
		opacity: .6;
	}
}

.add-project {
	margin-left: 35px;
	margin-top: 15px;
	position: relative;
	cursor: pointer;
	display: inline-block;

	span {
		margin-left: 5px;
		color: #1571d4;
		font-size: 14px;
		border-bottom: 1px dashed #1571d4;
		display: inline-block;
		transition: opacity .3s;
	}

	.annotation-container {
		position: absolute;
		right: initial;
		left: 10px;

		.annotation {
			width: 180px;
			top: 20px;
			color: #aeaeae;
			right: initial;
			box-shadow: 3px 2px 12px 4px rgba(0,0,0,0.28);

			.action-items .action {
				text-align: left;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 25%;
				width: 0;
				height: 0;
				border: 10px solid transparent;
				border-bottom-color: white;
				border-top: 0;
				margin-left: -10px;
				margin-top: -10px;
			}

			.choices {
				display: flex;
				margin-top: 10px;
				justify-content: space-between;

				.choice {
					cursor: pointer;
					transition: opacity .3s;

					&:hover {
						opacity: .6;
					}

					&.blue {
						color: #1571d4;
					}
				}
			}

			input[type=text] {
				border: none;
				-webkit-tap-highlight-color: transparent;
				color: black;
				font-size: 16px;
				width: 100%;

				&:focus {
					outline: none !important;
				}

				&::placeholder { 
				color: #d8d8d8;
				opacity: 1;
				}

				&:-ms-input-placeholder { 
				color: #d8d8d8;
				}

				&::-ms-input-placeholder { 
				color: #d8d8d8;
				}
			}

			&.is-showing {
				display: inline-block;
			}
		}
	}

	&:hover span {
		opacity: .6;
	}
}

table.projects {

	tr th {
		width: 19%;

		&:first-child {
			width: 40%;
			text-align: left!important;
		}

		&:last-child {
			width: 3%;
		}
	}

	.annotation-container {

		.annotation {
			width: 180px;
			top: 20px;
	
			.action-items .action {
				text-align: left;
			}
	
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 75%;
				width: 0;
				height: 0;
				border: 10px solid transparent;
				border-bottom-color: white;
				border-top: 0;
				margin-left: -10px;
				margin-top: -10px;
			}

			.confirmation, .rename-project {
				color: #aeaeae;
				display: none;

				input[type=text] {
					border: none;
					-webkit-tap-highlight-color: transparent;
					color: black;
					font-size: 16px;
					width: 100%;

					&:focus {
						outline: none !important;
					}

					&::placeholder { 
					color: #d8d8d8;
					opacity: 1;
					}

					&:-ms-input-placeholder { 
					color: #d8d8d8;
					}

					&::-ms-input-placeholder { 
					color: #d8d8d8;
					}
				}
			}

			&.is-showing {
				display: block;
			}

			&.is-deleting {
				.confirmation.delete-confirmation {
					display: inline-block;
					padding-top: 5px;
				}
				.action-items {
					display: none;
				}
			}

			&.is-renaming {
				.rename-project {
					display: inline-block;
					padding-top: 5px;		
				}
				.action-items {
					display: none;
				}
			}

			.choices {
				display: flex;
				margin-top: 10px;
				justify-content: space-between;

				.choice {
					cursor: pointer;
					transition: opacity .3s;

					&:hover {
						opacity: .6;
					}

					&.blue {
						color: #1571d4;
					}
				}
			}
		}


	}


	.more-menu {
		position: relative;
	}
}

.dashboard-page .card.-overview-bottom .overview-details {
	overflow: initial;
}

table.users {
	width: 100%;
	margin-bottom: 25px;

	th{
		color: #bbbcbc;
		font-weight: normal;
		border-bottom: 2px #979797 dashed;
		padding-bottom: 5px;
	}

	td {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.more-menu {
		position: relative;

		.annotation-container {
			top: 6px;
			right: -5px;

			.annotation {
				width: 180px;
				color: #aeaeae;
				box-shadow: 3px 2px 12px 4px rgba(0,0,0,0.28);
				top: -127px;
	
				.action-items .action {
					text-align: left;
				}
	
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 140px;
					width: 0;
					height: 0;
					border: 9px solid transparent;
					border-top-color: #fff;
					border-bottom: 0;
					margin-left: -9px;
					margin-bottom: -9px;
				}
	
				.choices {
					display: flex;
					margin-top: 10px;
					justify-content: space-between;
	
					.choice {
						cursor: pointer;
						transition: opacity .3s;
	
						&:hover {
							opacity: .6;
						}
	
						&.blue {
							color: #1571d4;
						}
					}
				}

				.confirmation {
					display: none;
				}

				.resend-confirmation {

					.choices {
						justify-content: flex-end;
					}
				}
	
				&.is-showing {
					display: inline-block;
				}

				&.is-deleting {

					.action-items {
						display: none;
					}

					.delete-confirmation {
						display: inline-block;
					}
				}

				&.is-resending {
					.action-items {
						display: none;
					}

					.resend-confirmation {
						display: inline-block;
					}
				}
			}
		}
	}
}

.btn.add-user {
	border: 1px solid #1571d4;
	color: #1571d4;
	font-weight: bold;
	margin: auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	transition: background-color .3s;

	&:hover {
		background-color: #e2eefc;
	}
}

form.add-user-form {
	display: flex;
	width: 100%;
	max-height: 0px;
	overflow: hidden;
	transition: max-height .8s;

	.form-group {
		position: relative;
		margin-right: 15px;
	}

	.form-group:last-child {
		margin-right: 0px;
		margin-left: 10px;
		padding-top: 30px;
	}

	.error {
		color: red;
		font-size: 12px;
		position: absolute;
		top: 22px;
		display: none;
		left: 0px;

		&.is-showing {
			display: inline-block;
		}
	}

	input[type=text] {
		padding-left: 0px;
		border-color: #55920c;
		color: #55920c;
	}

	&.is-showing {
		max-height: 250px;

		&~.btn {
			background-color: #1571d4;
			color: white;
		}
	}
}

// Fix Payroll page

.expense-form {

	&>.row .col-xs-3:nth-child(3) {
		padding-left: 45px;
	}

	.row {
		position: relative;

		img.show-all, img.hide-all {
			position: absolute;
			left: 12px;
			top: 6px;
			transition: opacity .3s;
			cursor: pointer;
			z-index: 1;
			display: none;

			&:hover {
				opacity: .6;
			}

			&.is-showing {
				display: inline-block;
			}
		}

		img.show-all {
			top: 9px;
		}
	}

	.resource {

		.bottom {
			background-color: #f2f2f2;
			border-radius: 3px;
			max-height: 0px;
			transition: max-height .5s, padding 0s .5s;
			overflow: hidden;
			padding: 0px;
			border: none;
	
			.add-state-button {
				margin-left: 20px;
				margin-top: 15px;
				position: relative;
				cursor: pointer;
				display: inline-block;
			
				span {
					margin-left: 5px;
					color: #1571d4;
					font-size: 14px;
					border-bottom: 1px dashed #1571d4;
					display: inline-block;
					transition: opacity .3s;
				}
			
				&:hover span {
					opacity: .6;
				}
			}
		}
	
		&.is-open {
			.toggle-details {
				transform: rotate(180deg);
			}
	
			.bottom {
				max-height: 1000px;
				border: none;
				border: 1px solid #e6e0e0;
				padding: 16px;
				transition: max-height .5s, padding 0s;
			}
		}
	}
}
