.container-fluid {
	
	@media (max-width: 550px) {
		padding: 0px
	}
}

.container {
	@media (max-width: 550px) {
		padding: 0px
	}
}

.questionnaire:before {
	@media (max-width: 700px) {
		display: none;
	}
}

.app {
	background-color: #eceff3;
	@media (max-width: 700px) {
		background: #1571d4;
	}
}
// .btn.btn-primary {
// 	background-color: #1571d4;
// 	border-color: transparent;
// 	transition: background-color .3s;

// 	&:hover {
// 		background-color: darken(#1571d4, 10%);
// 		border-color: transparent;
// 	}
// }

// .btn.btn-default {
// 	border: 1px solid #1571D4;
// 	color: #1571D4;
// 	font-weight: bold;
// 	transition: background-color .3s;
// 	background-color: white;

// 	&:hover {
// 		background-color: #e2eefc;
// 		color: #1571D4;
// 		border: 1px solid #1571D4;
// 	}
// }

main.container {
	display: flex;
	padding-top: 25px;
	max-width: 1170px;

	.questionnaire-navigation {
		width: 25%;
		z-index: 1;
		margin-right: 20px;
		min-width: 300px;

		.card {
			padding: 15px;
			text-align: center;
			min-width: 300px;

			h4 {
				padding-top: 0px;
				font-size: 28px;
				margin: 0px;
			}

			.company {
				margin-top: 16px;
				margin-bottom: 16px;
				display: block;
				font-size: 18px;
			}

			.project, .resource {
				display: block;
				font-size: 18px;
				text-align: left;
				line-height: 1;
			}

			.resource {
				margin-bottom: 8px;
			}

			.completion.not-started {
				color: #ababab;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 1;
				top: -2px;
				position: relative;
				margin-bottom: 25px;

				&:before {
					content: url(../assets/images/status_none.svg);
					width: 14px;
					display: inline-block;
					height: 14px;
					margin-right: 10px;
					position: relative;
					top: 4px;
				}
			}

			.completion.complete {
				color: #55920c;
				line-height: 1;
				text-transform: uppercase;
				margin-top: 4px;
				font-size: 14px;
				margin-bottom: 25px;

				&:before {
					content: url(../assets/images/status_complete.svg);
					padding-right: 24px;
					top: 12px;
					width: 14px;
					height: 14px;
					display: inline-block;
				}
			}

			p {
				color: #6d6c6c;
				font-size: 16px;
			}

			.project-label {
				color: #bbbcbc;
				text-align: left;
				font-style: italic;
				margin-bottom: 0px;
				font-size: 16px;
			}

			hr {
				margin: auto;
				width: 100%;
				margin-bottom: 8px;
			}

			b {
				margin-top: 25px;
				display: block;

				&.phone {
					font-size: 20px;
				}
			}

			img {
				margin-top: 15px;
			}

			.btn {
				border: 1px solid #1571D4;
				color: #1571D4;
				font-weight: bold;
				margin-top: 20px;
				margin-bottom: 15px;
				transition: background-color .3s;
				background-color: white;

				&:hover {
					background-color: lighten(#1571D4, 48%);
				}
			}

			&.help {
				background-color: #f3f4f9;
				overflow: hidden;

				a {
					display: block;
				}

				.btn {
					width: 150px;
					transition: width .5s, background-color .3s;
					overflow: hidden;

					.confirmation {
						max-height: 0;
						overflow: hidden;
						transition: max-height .5s;


						img.confirm {
							width: 40px;
							height: 40px;
							margin-bottom: 15px;
						}

						h2 {
							font-size: 28px;
							margin-top: 0px;
							color: black;
						}

						p {
							width: 80%;
							margin: auto;
							white-space: normal;
						}
					}

					form {
						max-height: 0px;
						overflow: hidden;
						margin: 0px;

						img.loading {
							animation: spin 1.5s linear infinite;
							position: absolute;
							width: 25px;
							height: 25px;
							z-index: 1;
							left: calc(50% - 12.5px);
							top: calc(50% - 12.5px);
							opacity: 0;
							transition: opacity 1s;
						}
					}
				}

				&.is-open {
					padding-left: 10px;
					padding-right: 10px;

					&:active, &:focus {
						box-shadow: none;
					}

					.btn {
						width: 100%;
						border: transparent 1px solid;
						padding-left: 10px;
						padding-right: 10px;
						position: relative;

						form {
							max-height: 300px;
							transition: max-height .5s;
							overflow: hidden;
							margin: 0px;
							margin-top: 15px;
	
							textarea {
								border: 2px solid #092f57;
								border-radius: 5px;
								min-height: 150px;
								resize: none;
								font-weight: 300;
							}

							.btn-primary {
								background-color: #1571d4;
								border-color: #1571d4;
								color: white;
								font-weight: 400;
								transition: background-color .3s, background-color .3s;
								cursor: pointer;

								&:hover {
									background-color: darken(#1571d4, 10%);
									border-color: darken(#1571d4, 10%);
								}
							}

							&.is-submitting {

								img.loading {
									opacity: 1;
									transition: opacity .5s .5s;
								}

								textarea, .btn-primary {
									max-height: 0;
									min-height: 0;
									padding: 0;
									border: none;
									transition: all .5s;
								}
							}
						}

						.confirmation {
							opacity: 0;
							max-height: 0;
							transition: opacity 1s, max-height 1s;

							img.confirm {
								width: 40px;
								height: 40px;
								margin-bottom: 15px;
							}

							h2 {
								font-size: 28px;
								margin-top: 0px;
								color: black;
							}

							p {
								width: 80%;
								margin: auto;
								white-space: normal;
								margin-bottom: 0;
							}
						}

						&:hover {
							background-color: white;
							cursor: inherit;
						}

						&.is-submitted {

							img.loading {
								opacity: 0!important;
								transition: opacity .3s!important;
							}

							.confirmation {
								max-height: 400px;
								opacity: 1;
							}

							form {
								transition: all 0s!important;
								max-height: 0px!important;
								overflow: hidden!important;
								margin: 0px!important;
							}
						}
					}
				}
			}

			@media (max-width: 1000px) {
				width: 45%;
			}

			@media (max-width: 670px) {
				width: 100%;
			}
		}

		@media (max-width: 1000px) {
			display: flex;
			width: 100%;
			justify-content: space-between;
		}

		@media (max-width: 670px) {
			flex-direction: column;
		}
	}

	.questionnaire-inner-wrapper {
		width: 75%;

		@media (max-width: 1000px) {
			width: 100%;
		}
	}

	@media (min-width: 992px) {
		width: 100%;
	}

	@media (min-width: 768px) {
		width: 100%;
	}

	@media (max-width: 1000px) {
		flex-direction: column-reverse;
	}
}

.questionnaire:before {
	background-color: #1571d4;
	content: "";
	height: 300px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 0;
}

.app {
	padding: 0;
	padding-bottom: 100px;
}

.card.-current-estimate {
	margin: auto;
	margin-right: 0px;
	min-width: 200px;
	padding: 20px;
	cursor: pointer;
	transition: background-color .3s;

	@media only screen and (max-width: 768px) {
		position: relative;
		left: inherit;
		right: inherit;
		top: inherit;
		min-width: 200px;
		padding: 20px;
		margin: auto;
		margin-bottom: 30px;
	}

	&:hover {
		background-color: #e2eefc;
	}
}

.chapter-header {
	display: flex;

	.title {
		width: calc(100% - 210px);
		justify-content: center;
		padding-bottom: 25px;
		padding-top: 15px;

		&.full {
			width: 100%;
		}

		@media only screen and (max-width: 600px) {
			width: 100%;
		}
	}

	h2 {
		color: white;
		font-weight: 300;
		text-align: center;
		margin-bottom: 5px;
		margin-top: 0px;
	}

	h3 {
		color: white;
		font-weight: 400;
		text-align: center;
		font-size: 20px;
		margin-top: 0px;
	}

	.summary-estimate-amount {
		color: #55920c;
		font-size: 30px;
		line-height: 1;
		letter-spacing: -1px;

		&:before {
			content: '$';
			font-size: 60%;
			top: -8px;
			position: relative;
			left: -3px;
		}

		sup {
			top: -.5em;
			font-size: 60%;
		}

		@media only screen and (max-width: 600px) {
			width: 100%;
		}
	}

	@media only screen and (max-width: 600px) {
		flex-direction: column;
	}
}

.chapter-wrapper {

	.chapter-nav {
		border-bottom: 1px solid hsla(0,0%,100%,.5);

		&>div {
			width: calc(100% - 200px);
		}
	}

	.chapter {
		border-bottom: none;
		margin-right: 5%;
		margin-left: 5%;
		transition: opacity .3s;
		cursor: pointer;

		&.selected {
			border-bottom: 5px solid white;
		}

		&:hover {
			opacity: .7;
		}
	}
}

.tab {
	display: none;

	&.is-showing {
		display: block;
	}
}

table {
	width: 100%;
	margin-top: 25px;

	th {
		color: #092F57;
		font-family: sofia-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
		font-weight: normal;
		font-size: 18px;
		padding-bottom: 10px;

		&.allocation {
			text-align: right;
		}
	}

	a {
		font-weight: bold;
		color: #0072d8;
	}

	td {
		font-weight: 300;
		padding-top: 5px;
		padding-bottom: 5px;

		&.allocation {
			font-weight: 600;
			text-align: right;
			padding-right: 20px;
		}

		&.percentage {
			text-align: right;
		}
	}

	& + hr {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	&.employees {

		tr td {
			font-size: 18px;
		}

		th {
			font-size: 16px;
		}


		tr td:first-child, th td:first-child {
			width: 35%;
		}
	}

	&.contracting, &.supplies {

		th {
			font-size: 16px;
		}

		tr td {
			font-size: 18px;
		}
		tr td:first-child, th td:first-child {
			width: 70%;
		}
	}
}

.section-resources .card {
	padding: 50px;
	padding-left: 100px;
	padding-right: 100px;

	.resource-header {
		display: flex;
		align-items: center;

		h1 {
			margin: 0;
			font-size: 24px;
		}

		.total-allocation {
			font-size: 24px;
			color: #55920C;
			margin-right: 0;
			margin-left: auto;
			padding-right: 25px;
		}
	}

	h1 {
		font-size: 32px;

	}
}

.Select.is-disabled {

	.Select-value {
		color: #555!important;
		background-color: #ededed;
		cursor: not-allowed;
	}
}

.shake {
	animation: shake 150ms 2 linear;
-moz-animation: shake 150ms 2 linear;
-webkit-animation: shake 150ms 2 linear;
 -o-animation: shake 150ms 2 linear;
}

@keyframes shake {
0% {
transform: translate(10px, 0);
}
50% {
transform: translate(-10px, 0);
}
100% {
transform: translate(0, 0);
}
}

@-moz-keyframes shake {
0% {
-moz-transform: translate(10px, 0);
}
50% {
-moz-transform: translate(-10px, 0);
}
100% {
-moz-transform: translate(0, 0);
}
}

@-webkit-keyframes shake {
0% {
-webkit-transform: translate(10px, 0);
}
50% {
-webkit-transform: translate(-10px, 0);
}
100% {
-webkit-transform: translate(0, 0);
}
}

@-ms-keyframes shake {
0% {
-ms-transform: translate(10px, 0);
}
50% {
-ms-transform: translate(-10px, 0);
}
100% {
-ms-transform: translate(0, 0);
}
}

@-o-keyframes shake {
0% {
-o-transform: translate(10px, 0);
}
50% {
-o-transform: translate(-10px, 0);
}
100% {
-o-transform: translate(0, 0);
}
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
	}
	@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
	}
	@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg); 
	transform:rotate(360deg);
	}
}