// html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }

// article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
// 	display: block;
// }

// html {
// 	min-height: 100vh;
// }

// body {
// 	line-height: 1;
// 	margin: 0;
// 	padding: 0;
// 	min-height: 100vh;
// 	-webkit-font-smoothing: antialiased;
// }

// ol, ul {
// 	list-style: none;
// }

// blockquote, q {
// 	quotes: none;
// }

// blockquote:before, blockquote:after, q:before, q:after {
// 	content: "";
// 	content: none;
// }

// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }

// *, *:before, *:after {
// 	margin: 0;
// 	padding: 0;
// 	position: relative;
// 	-webkit-box-sizing: border-box;
// 	   -moz-box-sizing: border-box;
// 	        box-sizing: border-box;
// }

// .content {
// 	width: 1200px;
// 	margin: auto;
// 	display: block;

// 	@media screen and (max-width: 1200px) {
// 		width: 100%;
// 	}
// }

// input {
// 	-webkit-appearance: none;
// 	border-radius: 0;
// }

// input:focus, select:focus, textarea:focus, button:focus {
// 	outline: none;
// }
