footer.container
	.col-md-6.copyright
		| ©2020 Clarus R+D
	.col-md-6.address-phone
		span.address 1233 Dublin, Columbus, OH 43215
		span.phone 614.706.3366
// Scripts
//- commenting this script out since it breaks the static HTML/CSS
//- script(type='text/javascript', src='https://app-staging.clarusrd.com/assets/dashboard.99bfcb60dd5bfbda2204.js')
#helphero-dom(style='position: static; width: 0px; height: 0px;')
	div
	// 
	iframe(style='display: none;')

.ReactModalPortal
.ReactModalPortal
.ReactModalPortal