doctype html
html.wf-opensans-n7-active.wf-opensans-i7-active.wf-opensans-i4-active.wf-opensans-n3-active.wf-opensans-i3-active.wf-opensans-n4-active.wf-sofiapro-n7-active.wf-sofiapro-i7-active.wf-sofiapro-n2-active.wf-sofiapro-i2-active.wf-sofiapro-n3-active.wf-sofiapro-n4-active.wf-sofiapro-i4-active.wf-active(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// CSRF Token
		meta(name='csrf-token', content='J9TM9q6Z705D1F9WsBknfaRhCQqGWeTmZ9ouZIQ0')
		title Static HTML/CSS
		// Styles
		link(rel='stylesheet', href='https://app-staging.clarusrd.com/assets/questionnaire.css')
		link(rel='stylesheet', href='https://app-staging.clarusrd.com/whitelabel/301/css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='https://use.typekit.net/cev2fqz.js')
		style(type='text/css').
			.tk-open-sans {
			font-family: "open-sans", sans-serif;
			}
			.tk-sofia-pro {
			font-family: "sofia-pro", sans-serif;
			}
		style(type='text/css').
			@font-face {
			font-family: tk-open-sans-n7;
			src: url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
			font-weight: 700;
			font-style: normal;
			}
			@font-face {
			font-family: tk-open-sans-i7;
			src: url(https://use.typekit.net/af/8f2f8d/000000000000000000011c35/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/8f2f8d/000000000000000000011c35/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/8f2f8d/000000000000000000011c35/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
			font-weight: 700;
			font-style: italic;
			}
			@font-face {
			font-family: tk-open-sans-i4;
			src: url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
			font-weight: 400;
			font-style: italic;
			}
			@font-face {
			font-family: tk-open-sans-n3;
			src: url(https://use.typekit.net/af/1ade3e/000000000000000000011c39/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/1ade3e/000000000000000000011c39/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/1ade3e/000000000000000000011c39/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
			font-weight: 300;
			font-style: normal;
			}
			@font-face {
			font-family: tk-open-sans-i3;
			src: url(https://use.typekit.net/af/47e8f0/000000000000000000011c3a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff2"), url(https://use.typekit.net/af/47e8f0/000000000000000000011c3a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff"), url(https://use.typekit.net/af/47e8f0/000000000000000000011c3a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("opentype");
			font-weight: 300;
			font-style: italic;
			}
			@font-face {
			font-family: tk-open-sans-n4;
			src: url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
			font-weight: 400;
			font-style: normal;
			}
			@font-face {
			font-family: tk-sofia-pro-n7;
			src: url(https://use.typekit.net/af/c5ee9a/0000000000000000000157a9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/c5ee9a/0000000000000000000157a9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/c5ee9a/0000000000000000000157a9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
			font-weight: 700;
			font-style: normal;
			}
			@font-face {
			font-family: tk-sofia-pro-i7;
			src: url(https://use.typekit.net/af/1fda95/0000000000000000000157aa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/1fda95/0000000000000000000157aa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/1fda95/0000000000000000000157aa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
			font-weight: 700;
			font-style: italic;
			}
			@font-face {
			font-family: tk-sofia-pro-n2;
			src: url(https://use.typekit.net/af/70e5d3/0000000000000000000157ab/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) format("woff2"), url(https://use.typekit.net/af/70e5d3/0000000000000000000157ab/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) format("woff"), url(https://use.typekit.net/af/70e5d3/0000000000000000000157ab/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) format("opentype");
			font-weight: 200;
			font-style: normal;
			}
			@font-face {
			font-family: tk-sofia-pro-i2;
			src: url(https://use.typekit.net/af/100e0b/0000000000000000000157ac/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) format("woff2"), url(https://use.typekit.net/af/100e0b/0000000000000000000157ac/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) format("woff"), url(https://use.typekit.net/af/100e0b/0000000000000000000157ac/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) format("opentype");
			font-weight: 200;
			font-style: italic;
			}
			@font-face {
			font-family: tk-sofia-pro-n3;
			src: url(https://use.typekit.net/af/07553a/0000000000000000000157ad/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/07553a/0000000000000000000157ad/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/07553a/0000000000000000000157ad/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
			font-weight: 300;
			font-style: normal;
			}
			@font-face {
			font-family: tk-sofia-pro-n4;
			src: url(https://use.typekit.net/af/c07bfb/0000000000000000000157b1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/c07bfb/0000000000000000000157b1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/c07bfb/0000000000000000000157b1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
			font-weight: 400;
			font-style: normal;
			}
			@font-face {
			font-family: tk-sofia-pro-i4;
			src: url(https://use.typekit.net/af/7eae32/0000000000000000000157b2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/7eae32/0000000000000000000157b2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/7eae32/0000000000000000000157b2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
			font-weight: 400;
			font-style: italic;
			}
		script.
			try {
			Typekit.load({
			async: true
			});
			} catch (e) {}
		link(rel='shortcut icon', type='image/png', href='https://app-staging.clarusrd.com/cropped-rings.png?v=2')
		// HelpHero Script
		script(src='//app.helphero.co/embed/dAhIinBhONs')
		script.
			HelpHero.anonymous();
		script(src='https://www.datadoghq-browser-agent.com/datadog-rum-us.js', type='text/javascript')
		script.
			window.DD_RUM && window.DD_RUM.init({
			clientToken: 'pubc75cce5ffa63edc2319c3ca3e9a792c1',
			applicationId: '584c0992-bd16-4c93-bb69-303b1a67114f',
			});
		// LogRocket Script
		script(src='https://cdn.lr-ingest.io/LogRocket.min.js', crossorigin='anonymous')
		script(src='https://cdn.lr-ingest.io/logger.min.js', async='')
		script.
			window.LogRocket && window.LogRocket.init('p4edgc/rd-production');
		style(type='text/css').
			@font-face {
			font-family: open-sans;
			src: url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
			font-weight: 700;
			font-style: normal;
			}
			@font-face {
			font-family: open-sans;
			src: url(https://use.typekit.net/af/8f2f8d/000000000000000000011c35/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/8f2f8d/000000000000000000011c35/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/8f2f8d/000000000000000000011c35/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
			font-weight: 700;
			font-style: italic;
			}
			@font-face {
			font-family: open-sans;
			src: url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
			font-weight: 400;
			font-style: italic;
			}
			@font-face {
			font-family: open-sans;
			src: url(https://use.typekit.net/af/1ade3e/000000000000000000011c39/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/1ade3e/000000000000000000011c39/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/1ade3e/000000000000000000011c39/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
			font-weight: 300;
			font-style: normal;
			}
			@font-face {
			font-family: open-sans;
			src: url(https://use.typekit.net/af/47e8f0/000000000000000000011c3a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff2"), url(https://use.typekit.net/af/47e8f0/000000000000000000011c3a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff"), url(https://use.typekit.net/af/47e8f0/000000000000000000011c3a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("opentype");
			font-weight: 300;
			font-style: italic;
			}
			@font-face {
			font-family: open-sans;
			src: url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
			font-weight: 400;
			font-style: normal;
			}
			@font-face {
			font-family: sofia-pro;
			src: url(https://use.typekit.net/af/c5ee9a/0000000000000000000157a9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/c5ee9a/0000000000000000000157a9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/c5ee9a/0000000000000000000157a9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
			font-weight: 700;
			font-style: normal;
			}
			@font-face {
			font-family: sofia-pro;
			src: url(https://use.typekit.net/af/1fda95/0000000000000000000157aa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/1fda95/0000000000000000000157aa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/1fda95/0000000000000000000157aa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
			font-weight: 700;
			font-style: italic;
			}
			@font-face {
			font-family: sofia-pro;
			src: url(https://use.typekit.net/af/70e5d3/0000000000000000000157ab/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) format("woff2"), url(https://use.typekit.net/af/70e5d3/0000000000000000000157ab/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) format("woff"), url(https://use.typekit.net/af/70e5d3/0000000000000000000157ab/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) format("opentype");
			font-weight: 200;
			font-style: normal;
			}
			@font-face {
			font-family: sofia-pro;
			src: url(https://use.typekit.net/af/100e0b/0000000000000000000157ac/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) format("woff2"), url(https://use.typekit.net/af/100e0b/0000000000000000000157ac/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) format("woff"), url(https://use.typekit.net/af/100e0b/0000000000000000000157ac/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) format("opentype");
			font-weight: 200;
			font-style: italic;
			}
			@font-face {
			font-family: sofia-pro;
			src: url(https://use.typekit.net/af/07553a/0000000000000000000157ad/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/07553a/0000000000000000000157ad/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/07553a/0000000000000000000157ad/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
			font-weight: 300;
			font-style: normal;
			}
			@font-face {
			font-family: sofia-pro;
			src: url(https://use.typekit.net/af/c07bfb/0000000000000000000157b1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/c07bfb/0000000000000000000157b1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/c07bfb/0000000000000000000157b1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
			font-weight: 400;
			font-style: normal;
			}
			@font-face {
			font-family: sofia-pro;
			src: url(https://use.typekit.net/af/7eae32/0000000000000000000157b2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/7eae32/0000000000000000000157b2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/7eae32/0000000000000000000157b2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
			font-weight: 400;
			font-style: italic;
			}
		style(data-emotion='').
		script(src='/js/app.js', type='text/javascript')
	body
		nav.navbar.navbar-default
			.container
				.navbar-header
					// Collapsed Hamburger
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#app-navbar-collapse', aria-expanded='false')
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					// Branding Image
					a.navbar-brand(href='https://app-staging.clarusrd.com', style='padding-top: 24px;')
						img.h-vertical-align-middle.logo(alt='Clarus R+D', title='Clarus R+D', src='https://app-staging.clarusrd.com/img/clarus-logo.svg')
				#app-navbar-collapse.collapse.navbar-collapse
					// Right Side Of Navbar
					ul.nav.navbar-nav.navbar-right
						// Authentication Links
						li.notifications
							img(src="/assets/images/notifications.svg", js-hook="notifications-icon")
							span.new
						li.dropdown(style='z-index: 100;')
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false', aria-haspopup='true')
								| Gary Walsh
								span.caret
							ul.dropdown-menu
								li
									a(href='https://app-staging.clarusrd.com/logout', onclick="event.preventDefault();                  document.getElementById('logout-form').submit();") Logout
									form#logout-form(action='https://app-staging.clarusrd.com/logout', method='POST', style='display: none;')
										input(type='hidden', name='_token', value='J9TM9q6Z705D1F9WsBknfaRhCQqGWeTmZ9ouZIQ0')
								li
									a(href='https://app-staging.clarusrd.com/change') Change Password
								li
									a(href='/admin') Admin Panel
					// Left Side Of Navbar
					ul.nav.navbar-nav
		#notifications-panel(js-hook="notifications-panel")
			img.close(src="/assets/images/close.svg", js-hook="close-panel")
			.time-period
				.when Today
				.notification
					.avatar.is-admin.is-new.blue M
					.message Monika made a new comment on the 
						a(href="") 2019 employees section
						|  of the 
						a(href="") Mobile Scanner with Laser Beams 
						|  project
					img.caret2(src="/assets/images/caret2.svg")
				.notification
					.avatar.is-admin.blue M
					.message Monika made a new comment on the 
						a(href="") 2019 employees section
						|  of the 
						a(href="") Mobile Scanner with Laser Beams 
						|  project
					img.caret2(src="/assets/images/caret2.svg")
			.time-period
				.when Yesterday
				.notification
					.avatar.light-blue J
					.message Jason made a new comment on the 
						a(href="") 2019 employees section
						|  of the 
						a(href="") Mobile Scanner with Laser Beams 
						|  project
					img.caret2(src="/assets/images/caret2.svg")
				.notification
					.avatar.is-admin.blue M
					.message Monika made a new comment on the 
						a(href="") 2019 employees section
						|  of the 
						a(href="") Mobile Scanner with Laser Beams 
						|  project
					img.caret2(src="/assets/images/caret2.svg")
			.resolved-notifications(js-hook="resolved-notifications")
				.btn.btn-half.btn-ghost.resolved(js-hook="resolved-button") see resolved
				.resolved-title resolved
				.time-period
					.when Last Week
					.notification
						.avatar.light-blue J
						.message Jason made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")
					.notification
						.avatar.is-admin.blue M
						.message Monika made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")


				.time-period
					.when Last Week
					.notification
						.avatar.light-blue J
						.message Jason made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")
					.notification
						.avatar.is-admin.blue M
						.message Monika made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")
				.time-period
					.when Last Week
					.notification
						.avatar.light-blue J
						.message Jason made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")
					.notification
						.avatar.is-admin.blue M
						.message Monika made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")
				.time-period
					.when Last Week
					.notification
						.avatar.light-blue J
						.message Jason made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")
					.notification
						.avatar.is-admin.blue M
						.message Monika made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")
				.time-period
					.when Last Week
					.notification
						.avatar.light-blue J
						.message Jason made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")
					.notification
						.avatar.is-admin.blue M
						.message Monika made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")
				.time-period
					.when Last Week
					.notification
						.avatar.light-blue J
						.message Jason made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")
					.notification
						.avatar.is-admin.blue M
						.message Monika made a new comment on the 
							a(href="") 2019 employees section
							|  of the 
							a(href="") Mobile Scanner with Laser Beams 
							|  project
						img.caret2(src="/assets/images/caret2.svg")

				
