.card.help
	img(src="/assets/images/confused.svg")
	h4 Confused?
	p We're here to help!
	b.phone 614.928.3354
	a(href="mailto:monika@claruscredits.com") monika@claruscredits.com
	.btn(js-hook="ask-monika") ask monika
		.confirmation
			img.confirm(src="/assets/images/status_complete.svg")
			h2 Thanks!
			p Monika will get back to you shortly.
		form(js-hook="form-ask-monika")
			img.loading(src="/assets/images/status_none.svg")
			textarea.form-control(placeholder='What can Monika help you with?', type='text')
			button.btn.btn-primary submit